@model KVCTPCTViewModel
@{
    ViewData["Title"] = "Them dong";
}
<!-- Main content -->
@*<section class="content">*@


<div class="card">
    <div class="card-header">
        <h3 class="card-title"><i class="fas fa-file text-info"></i> Thêm CT phiếu - <span>@Model.KVPTC.SoCT</span></h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
            <a class="btn btn-tool" asp-action="BackIndex" asp-route-id="@Model.KVPTC.Id" asp-route-page="@Model.Page">
                <i class="fas fa-times"></i>
            </a>
            @*<button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                <i class="fas fa-times"></i>
                </button>*@
        </div>
    </div>

    <div class="card-body p-0">

        <form method="post" autocomplete="off" id="frm_KVCTPCT_Create" enctype="multipart/form-data">
            <div class="pr-4 pl-4 text-sm">

                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="KVCTPTC.KVPTCId" />
                <input type="hidden" asp-for="KVCTPTC.MaCn" />
                <input type="hidden" asp-for="KVPTC.SoCT" />
                <input type="hidden" asp-for="KVPTC.NgayCT" />
                <input type="hidden" asp-for="StrUrl" />
                <!--Thông tin về tài chánh-->
                <fieldset class="groupbox-border ">
                    <legend class="groupbox-border">Thông tin về tài chánh </legend>

                    <div class=" row">

                        <div class="col-md-11">
                            <label asp-for="KVCTPTC.DienGiaiP" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                            <input asp-for="KVCTPTC.DienGiaiP" class="form-control form-control-sm text-uppercase " id="txtDienGiaiP" />
                            <span asp-validation-for="KVCTPTC.DienGiaiP" class="text-danger"></span>
                        </div>

                        <div class="col-md-1">
                            <label asp-for="KVCTPTC.HTTC" class="control-label"></label>
                            <select asp-for="KVCTPTC.HTTC" class="form-control form-control-sm "
                                    asp-items="@(new SelectList(Model.DmHttcs, "Httc", "Httc"))" id="ddlHttc">
                            </select>
                            <span asp-validation-for="KVCTPTC.HTTC" class="text-danger"></span>
                        </div>

                    </div>


                    <div class=" row">

                        <div class="col-md-4">
                            <label class="control-label">Tổng tiền NT</label>
                            <input asp-for="KVCTPTC.SoTienNT" class="form-control form-control-sm numbers" id="txtSoTienNT" asp-format="{0:0,0}" />
                            <span asp-validation-for="KVCTPTC.SoTienNT" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="KVCTPTC.LoaiTien" class="control-label "></label>
                            <select asp-for="KVCTPTC.LoaiTien" class="form-control form-control-sm "
                                    asp-items="@(new SelectList(Model.Ngoaites, "MaNt", "MaNt"))" id="ddlNgoaiTe">
                            </select>
                            <span asp-validation-for="KVCTPTC.LoaiTien" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="KVCTPTC.TyGia" class="control-label "></label>
                            <input asp-for="KVCTPTC.TyGia" class="form-control form-control-sm numbers" id="txtTyGia" asp-format="{0:0,0}" />
                            <span asp-validation-for="KVCTPTC.TyGia" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label class="control-label">Quy ra VND</label>
                            <input asp-for="KVCTPTC.SoTien" class="form-control form-control-sm " readonly id="txtSoTien" asp-format="{0:0,0}" />
                            <span asp-validation-for="KVCTPTC.SoTien" class="text-danger"></span>
                        </div>
                    </div>

                    <div class=" row">

                        <div class="col-md-4">
                            <label asp-for="KVCTPTC.TKNo" class="control-label"></label>
                            <!--select2-->
                            <select asp-for="KVCTPTC.TKNo" class="form-control form-control-sm select2" 
                                    asp-items="@(new SelectList(Model.DmTks_TkNo, "Tkhoan", "TenTk"))" id="ddlTkNo">
                            </select>
                            <span asp-validation-for="KVCTPTC.TKNo" class="text-danger"></span>
                        </div>

                        <div class="col-md-8">
                            <label class="control-label">Tên tài khoãn</label>
                            <input class="form-control form-control-sm " id="txtTenTkNo" />
                        </div>

                    </div>

                    <div class=" row">

                        <div class="col-md-4">
                            <label asp-for="KVCTPTC.TKCo" class="control-label"></label>
                            <!--select2-->
                            <select asp-for="KVCTPTC.TKCo" class="form-control form-control-sm select2"
                                    asp-items="@(new SelectList(Model.DmTks_TkCo, "Tkhoan", "TenTk"))" id="ddlTkCo">
                            </select>
                            <span asp-validation-for="KVCTPTC.TKNo" class="text-danger"></span>
                        </div>

                        <div class="col-md-8">
                            <label class="control-label">Tên tài khoãn</label>
                            <input class="form-control form-control-sm " id="txtTenTkCo" />
                        </div>

                    </div>

                    <div class=" row">

                        <div class="col-md-12">
                            <label asp-for="KVCTPTC.DienGiai" class="control-label"></label>
                            <select asp-for="KVCTPTC.DienGiai" class="form-control form-control-sm" id="ddlDienGiai">
                            </select>

                            <span asp-validation-for="KVCTPTC.DienGiai" class="text-danger"></span>
                        </div>
                    </div>

                </fieldset>
                <!--Thông tin về công nợ đoàn-->
                <fieldset class="groupbox-border ">
                    <legend class="groupbox-border">Thông tin về công nợ đoàn </legend>

                    <div class=" row">
                        @if (Model.KVPTC.MFieu == "T")
                        {
                                <div class="col-md-2">
                                    <label asp-for="KVCTPTC.MaKhNo" class="control-label "></label>
                                    <div class="input-group">
                                        <input asp-for="KVCTPTC.MaKhNo" class="form-control form-control-sm text-uppercase" id="txtMaKhNo" readonly> <!--readonly: Thao-->
                                        <span class="input-group-btn">
                                            <a href="javascript:;" class="btn btn-default btn-sm btnKhSearch disabled" id="btnKhSearch_No" data-name="maKhNo" title="Tìm thông tin khách hàng"><i class="fa fa-search"></i></a>
                                        </span>
                                    </div>
                                    <span asp-validation-for="KVCTPTC.MaKhNo" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label ">Tên KH nợ</label>
                                    <input type="text" class="form-control form-control-sm" value="Không có mã khách hàng" id="txtTenKhNo" readonly />
                                </div>

                                <div class="col-md-2">
                                    <label asp-for="KVCTPTC.MaKhCo" class="control-label "></label>
                                    <div class="input-group">
                                        <input asp-for="KVCTPTC.MaKhCo" class="form-control form-control-sm text-uppercase" id="txtMaKhCo">
                                        <span class="input-group-btn">
                                            <a href="javascript:;" class="btn btn-default btn-sm btnKhSearch" id="btnKhSearch_Co" data-name="maKhCo" title="Tìm thông tin khách hàng"><i class="fa fa-search"></i></a>
                                        </span>
                                    </div>
                                    <span asp-validation-for="KVCTPTC.MaKhCo" class="text-danger"></span>
                                </div>

                                <div class="col-md-4">
                                    <label class="control-label ">Tên KH có</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTenKhCo" />
                                </div>

                        }
                        else
                        {
                                <div class="col-md-2">
                                    <label asp-for="KVCTPTC.MaKhNo" class="control-label "></label>
                                    <div class="input-group">
                                        <input asp-for="KVCTPTC.MaKhNo" class="form-control form-control-sm text-uppercase" id="txtMaKhNo">
                                        <span class="input-group-btn">
                                            <a href="javascript:;" class="btn btn-default btn-sm btnKhSearch" id="btnKhSearch" data-name="maKhNo" title="Tìm thông tin khách hàng"><i class="fa fa-search"></i></a>
                                        </span>
                                    </div>
                                    <span asp-validation-for="KVCTPTC.MaKhNo" class="text-danger"></span>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label ">Tên KH nợ</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTenKhNo" />
                                </div>

                                <div class="col-md-2">
                                    <label asp-for="KVCTPTC.MaKhCo" class="control-label "></label>
                                    <div class="input-group">
                                        <input asp-for="KVCTPTC.MaKhCo" class="form-control form-control-sm" id="txtMaKhCo" disabled>
                                    </div>
                                    <span asp-validation-for="KVCTPTC.MaKhCo" class="text-danger"></span>
                                </div>

                                <div class="col-md-4">
                                    <label class="control-label ">Tên KH có</label>
                                    <input type="text" class="form-control form-control-sm" value="Không có mã khách hàng" id="txtTenKhCo" disabled />
                                </div>

                        }
                    </div>

                    <div class=" row">
                        @if (Model.KVPTC.MFieu == "T")
                        {
                                <div class="col-md-2">
                                    <label asp-for="KVCTPTC.NoQuay" class="control-label "></label>
                                @*<select asp-for="KVCTPTC.NoQuay" class="form-control form-control-sm select2" disabled
                                    asp-items="@(new SelectList(Model.Quays, "Quay", "Quay"))" id="ddlNoQuay">
                                    </select>*@
                                    <input asp-for="KVCTPTC.NoQuay" class="form-control form-control-sm " readonly />
                                    <span asp-validation-for="KVCTPTC.MaKhNo" class="text-danger"></span>
                                </div>

                                <div class="col-md-2">
                                    <label asp-for="KVCTPTC.CoQuay" class="control-label "></label>
                                    <select asp-for="KVCTPTC.CoQuay" class="form-control form-control-sm "
                                        asp-items="@(new SelectList(Model.Quays, "Quay", "Quay"))" id="ddlCoQuay">
                                    </select>
                                    <span asp-validation-for="KVCTPTC.CoQuay" class="text-danger"></span>
                                </div>

                        }
                        else
                        {
                                <div class="col-md-2">
                                    <label asp-for="KVCTPTC.NoQuay" class="control-label "></label>
                                    <select asp-for="KVCTPTC.NoQuay" class="form-control form-control-sm "
                                        asp-items="@(new SelectList(Model.Quays, "Quay", "Quay"))" id="ddlNoQuay">
                                    </select>
                                    <span asp-validation-for="KVCTPTC.MaKhNo" class="text-danger"></span>
                                </div>

                                <div class="col-md-2">
                                    <label asp-for="KVCTPTC.CoQuay" class="control-label "></label>
                                @*<select asp-for="KVCTPTC.CoQuay" class="form-control form-control-sm select2" disabled
                                    asp-items="@(new SelectList(Model.Quays, "Quay", "Quay"))" id="ddlCoQuay">
                                    </select>*@
                                    <input asp-for="KVCTPTC.CoQuay" class="form-control form-control-sm " readonly />
                                    <span asp-validation-for="KVCTPTC.CoQuay" class="text-danger"></span>
                                </div>
                        }

                        <div class="col-md-3">
                            <label asp-for="KVCTPTC.BoPhan" class="control-label "></label>
                            <select asp-for="KVCTPTC.BoPhan" class="form-control form-control-sm "
                                    asp-items="@(new SelectList(Model.PhongBans, "BoPhan", "BoPhan"))" id="ddlBoPhan">
                            </select>
                            <span asp-validation-for="KVCTPTC.MaKhNo" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="KVCTPTC.Sgtcode" class="control-label"></label>
                            <input asp-for="KVCTPTC.Sgtcode" class="form-control form-control-sm" id="txtSgtcode" />
                            <span asp-validation-for="KVCTPTC.Sgtcode" class="text-danger"></span>
                        </div>
                        @if (Model.KVPTC.NgoaiTe == "VN")
                        {
                                <div class="col-md-2">
                                    <label asp-for="KVCTPTC.SoVe" class="control-label"></label>
                                    <input asp-for="KVCTPTC.SoVe" class="form-control form-control-sm" id="txtSoVe" />
                                    <span asp-validation-for="KVCTPTC.SoVe" class="text-danger"></span>
                                </div>

                        }
                        else
                        {
                                <div class="col-md-2">
                                    <label asp-for="KVCTPTC.SoVe" class="control-label"></label>
                                    <input asp-for="KVCTPTC.SoVe" class="form-control form-control-sm" id="txtSoVe" disabled />
                                    <span asp-validation-for="KVCTPTC.SoVe" class="text-danger"></span>
                                </div>

                        }
                    </div>

                    <div class=" row">

                        <div class="col-md-4">
                            <label asp-for="KVCTPTC.SoXe" class="control-label"></label>
                            <input asp-for="KVCTPTC.SoXe" class="form-control form-control-sm" id="txtSoXe" />
                            <span asp-validation-for="KVCTPTC.SoXe" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="KVCTPTC.CardNumber" class="control-label"></label>
                            <input asp-for="KVCTPTC.CardNumber" class="form-control form-control-sm" id="txtCardNumber" />
                            <span asp-validation-for="KVCTPTC.CardNumber" class="text-danger"></span>
                        </div>

                        <div class="col-md-4">
                            <label asp-for="KVCTPTC.SalesSlip" class="control-label"></label>
                            <input asp-for="KVCTPTC.SalesSlip" class="form-control form-control-sm" id="txtCardNumber" />
                            <span asp-validation-for="KVCTPTC.SalesSlip" class="text-danger"></span>
                        </div>

                    </div>

                </fieldset>
                <!--Thông tin về thuế-->
                <fieldset class="groupbox-border ">
                    <legend class="groupbox-border">Thông tin về thuế </legend>

                    <div class=" row">

                        <div class="col-md-2">
                            <label asp-for="KVCTPTC.LoaiHDGoc" class="control-label "></label>
                            @*<input asp-for="KVCTPTC.LoaiHDGoc" class="form-control form-control-sm" id="txtLoaiHDGoc" />*@
                            <br />
                            <select asp-for="KVCTPTC.LoaiHDGoc" class=" form-control-sm btn-block"
                                    asp-items="@(new SelectList(Model.LoaiHDGocs, "Name", "Name"))" id="ddlLoaiHDGoc">
                            </select>
                            <span asp-validation-for="KVCTPTC.LoaiHDGoc" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="KVCTPTC.SoCTGoc" class="control-label "></label>
                            <input asp-for="KVCTPTC.SoCTGoc" class="form-control form-control-sm" id="txtSoCTGoc" />
                            <span asp-validation-for="KVCTPTC.SoCTGoc" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="KVCTPTC.KyHieu" class="control-label "></label>
                            <input asp-for="KVCTPTC.KyHieu" class="form-control form-control-sm" id="txtKyHieu" />
                            <span asp-validation-for="KVCTPTC.KyHieu" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="KVCTPTC.MauSoHD" class="control-label "></label>
                            <input asp-for="KVCTPTC.MauSoHD" class="form-control form-control-sm" id="txtMauSoHD" />
                            <span asp-validation-for="KVCTPTC.MauSoHD" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="KVCTPTC.NgayCTGoc" class="control-label "></label>
                            <input type="text" value="" asp-for="KVCTPTC.NgayCTGoc" class="form-control form-control-sm maskInput" id="txtNgayCTGoc" />
                            <span asp-validation-for="KVCTPTC.NgayCTGoc" class="text-danger"></span>
                        </div>

                    </div>

                    <div class=" row">

                        <div class="col-md-3">
                            <label asp-for="KVCTPTC.MsThue" class="control-label "></label>
                            <input asp-for="KVCTPTC.MsThue" class="form-control form-control-sm" id="txtMsThue" />
                            <span asp-validation-for="KVCTPTC.MsThue" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="KVCTPTC.VAT" class="control-label "></label>
                            <input asp-for="KVCTPTC.VAT" class="form-control form-control-sm" id="txtVAT" />
                            <span asp-validation-for="KVCTPTC.VAT" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="KVCTPTC.DSKhongVAT" class="control-label "></label>
                            <input asp-for="KVCTPTC.DSKhongVAT" class="form-control form-control-sm" id="txtDSKhongVAT" />
                            <span asp-validation-for="KVCTPTC.DSKhongVAT" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="KVCTPTC.DieuChinh" class="control-label "></label>
                            <br />
                            <input asp-for="KVCTPTC.DieuChinh" id="ckDieuChinh" type="checkbox"/>
                            <span asp-validation-for="KVCTPTC.DieuChinh" class="text-danger"></span>
                        </div>

                    </div>

                    <div class=" row">

                        <div class="col-md-12">
                            <label asp-for="KVCTPTC.TenKH" class="control-label "></label>
                            <input asp-for="KVCTPTC.TenKH" class="form-control form-control-sm" id="txtTenKH" />
                            <span asp-validation-for="KVCTPTC.TenKH" class="text-danger"></span>
                        </div>

                    </div>

                    <div class=" row">

                        <div class="col-md-12">
                            <label asp-for="KVCTPTC.DiaChi" class="control-label "></label>
                            <input asp-for="KVCTPTC.DiaChi" class="form-control form-control-sm" id="txtDiaChi" />
                            <span asp-validation-for="KVCTPTC.DiaChi" class="text-danger"></span>
                        </div>

                    </div>

                    <div class=" row">

                        <div class="col-md-6">
                            <label asp-for="KVCTPTC.MatHang" class="control-label "></label>
                            <select asp-for="KVCTPTC.MatHang" class="form-control form-control-sm select2"
                                    asp-items="@(new SelectList(Model.MatHangs, "Mathang", "Mathang"))" id="ddlMatHang">
                            </select>
                            <span asp-validation-for="KVCTPTC.MatHang" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="KVCTPTC.MaTraCuu" class="control-label "></label>
                            <input asp-for="KVCTPTC.MaTraCuu" class="form-control form-control-sm" id="txtMaTraCuu" />
                            <span asp-validation-for="KVCTPTC.MaTraCuu" class="text-danger"></span>
                        </div>

                    </div>

                    <div class=" row">

                        <div class="col-md-12">
                            <label asp-for="KVCTPTC.LinkHDDT" class="control-label "></label>
                            <input asp-for="KVCTPTC.LinkHDDT" class="form-control form-control-sm" id="txtLinkHDDT" />
                            <span asp-validation-for="KVCTPTC.LinkHDDT" class="text-danger"></span>
                        </div>

                    </div>

                    <div class=" row">

                        <div class="col-md-6">
                            <label asp-for="KVCTPTC.TkTruyCap" class="control-label "></label>
                            <input asp-for="KVCTPTC.LinkHDDT" class="form-control form-control-sm" id="txtLinkHDDT" />
                            <span asp-validation-for="KVCTPTC.LinkHDDT" class="text-danger"></span>
                        </div>

                        <div class="col-md-6">
                            <label asp-for="KVCTPTC.Password" class="control-label "></label>
                            <input asp-for="KVCTPTC.Password" class="form-control form-control-sm" id="txtPassword" />
                            <span asp-validation-for="KVCTPTC.Password" class="text-danger"></span>
                        </div>

                    </div>

                </fieldset>

                <div class=" pt-1 pb-1">
                    <button type="button" class="btn btn-primary btn-sm" id="btnKVCTPCTCreatePartial_Save"><i class="fas fa-save"></i> Save</button>
                    <a class="btn btn-success btn-sm" asp-action="BackIndex" asp-route-id="@Model.KVPTC.Id" asp-route-page="@Model.Page"><i class="fas fa-backward "></i> Back</a>
                </div>
            </div>
        </form>



    </div>
</div>
<!-- khachhang modal-->
<div class="modal fade" id="khachHang_Modal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">

        <div class="modal-content ">
            <div class="modal-header bg-secondary">
                <h6 class="modal-title"><i class="fas fa-file text-info"></i> Chọn khách hàng</h6>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body khachHang_Modal_Body ">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark " data-dismiss="modal" title="Thoát"><i class="fas fa-power-off fa-2x"></i></button>
                @*<button type="submit" class="btn btn-outline-primary"><i class="fas fa-save"></i></button>*@
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- khachhang modal-->

<input type="hidden" id="hidTxtMaKh" />

@section Scripts{

    <script src="~/js/Admin/Home/indexController.js"></script>
    <script src="~/js/Admin/serviceController.js"></script>

    <!-- select2 and multi select2 (bootstrap4)-->
    <script>
        //$('#txtMaKH').select2()
        $('.select2').select2()
        //$('#ddlMaKhCo1').select2()
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
        //$('.tuyenTQ').select2({
        //    theme: 'bootstrap4'
        //})


    </script>

    <!-- Validation -->

    <script>
        /*$(".maskInput").mask("99/99/9999");*/

        // $(document).ready(function (){})
        $(document).ready(function () {
            loaiPhieu = '@Model.KVPTC.MFieu';
            if (loaiPhieu == 'T') {
                serviceController.DdlTkNo('1111000000');
            }
            else {
                serviceController.DdlTkCo('1111000000');
            }
        });
        //// enter for search
        //shortcut.add("Enter", function () {
        //    $('#btnKhSearch').click()
        //});

        $('.btnKhSearch').click(function () {

            var maKhtext = '';
            var txtMaKh = '';
            
            if ($(this).data('name') === 'maKhNo') { // search off no
                maKhtext = $('#txtMaKhNo').val();
                txtMaKh = 'maKhNo';
            }
            if ($(this).data('name') === 'maKhCo') { // search off co
                maKhtext = $('#txtMaKhCo').val();
                txtMaKh = 'maKhCo';
            }

            $('#hidTxtMaKh').val(txtMaKh);

            KhachHangSearch(maKhtext, txtMaKh);
        })

        $('#txtMaKhNo').blur(function () {

            maKhtext = $(this).val();

            //KhachHang_By_Code(maKhtext);
            indexController.KhachHang_By_Code(maKhtext, 'txtMaKhNo');
        })

        $('#txtMaKhCo').blur(function () {

            maKhtext = $(this).val();

            //KhachHang_By_Code(maKhtext);
            indexController.KhachHang_By_Code(maKhtext, 'txtMaKhCo');
        })

        @*$('#ddlNgoaiTe').change(function () {
                loaiTien = $(this).val();
                loaiPhieu = '@Model.KVPCT.MFieu';
                serviceController.DdlLoaiTien(loaiTien, loaiPhieu);

                if (loaiPhieu == 'T') {
                    serviceController.DdlTkNo('1111000000');
                }
                if (loaiPhieu == 'C') {
                    serviceController.DdlTkCo('1111000000');
                }
            })*@

        $('#frm_KVCTPCT_Create').validate({
            //rules: {
            //    email: {
            //        required: true,
            //        email: true,
            //    },
            //    NgayDen: {
            //        required: true
            //    },
            //    chuDetour1: {
            //        required: true
            //    },
            //},
            //messages: {
            //    email: {
            //        required: "Please enter a email address",
            //        email: "Please enter a vaild email address"
            //    },
            //    NgayDen: {
            //        required: "Please provide a date"
            //    },
            //    chuDetour1: "Please enter value"
            //},
            errorElement: 'span',
            errorPlacement: function (error, element) {
                // add error text

                //error.addClass('invalid-feedback').removeClass('error');
                //element.closest('.chuDeTourGroup').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        //$('#txtSgtcode').rules('add', {
        //    required: true,
        //    minlength: 17,
        //    messages: {
        //        //required: "Chủ đề không được để trống"
        //    }
        //});

        // sotien
        $('#txtSoTienNT').blur(function () {

            serviceController.TinhSoTien();

        })

        $('#txtTyGia').blur(function () {


            serviceController.TinhSoTien();

        })
        // sotien
        // btnKVCTPCTCreatePartial_Save
        $('#btnKVCTPCTCreatePartial_Save').off('click').on('click', function () {
            $('#frm_KVCTPCT_Create').submit();
        })

        // AutoSgtcode
        $('#txtSgtcode').blur(function () {
            sgtcodeText = $(this).val();
            serviceController.AutoSgtcode(sgtcodeText);
        })

        // get dien giai by tkno tkco
        $('#ddlTkNo').change(function () {

            tkNo = $(this).val();
            tkCo = $('#ddlTkCo').val();

            serviceController.DdlTkNo(tkNo);
            serviceController.Get_DienGiai_By_TkNo_TkCo(tkNo, tkCo);

        })
        $('#ddlTkCo').change(function () {
            tkCo = $(this).val();
            tkNo = $('#ddlTkNo').val();

            serviceController.DdlTkCo(tkCo);
            serviceController.Get_DienGiai_By_TkNo_TkCo(tkNo, tkCo);

        })
        // get dien giai by tkno tkco

        // VAT ==> DSKhongVAT
        $('#txtVAT').blur(function () {
            vat = $(this).val();
            soTien = $('#txtSoTien').val();

            serviceController.TxtVAT_Blur(vat, soTien);
        })
        // VAT ==> DSKhongVAT

        function KhachHangSearch(code) {
            debugger
            $.get('/KVCTPTCs/GetKhachHangs_HDVATOB_By_Code', { code: code }, function (data) {

                $('#khachHang_Modal').modal('show');
                $('.khachHang_Modal_Body').html(data);
                $('#khachHang_Modal').draggable();
            });
        }

    </script>

}