@model TT621ViewModel

@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common

@using Microsoft.AspNetCore.Http
@using Data.Utilities
@inject IHttpContextAccessor HttpContextAccessor

<div class="row form-group">
    <div class="col-xs-12 col-md-6">
        <div class="input-group">
            <input type="text" value="@Model.MaKhText" class="form-control form-control-sm text-uppercase" id="txtTimkh" placeholder="Tìm thông tin code, tên khách hàng">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default btn-sm" id="btSearch"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>

<div style="overflow-x:auto; overflow-y:auto; height: 300px">
    <table class="table mytable text-nowrap text-sm" id="khachHangTbl">
        <thead>
            <tr class="table-info">

                <th>Mã KH</th>
                <th>Ms Thuế</th>
                <th>Tên KH</th>
                <th>Thành phố</th>
                <th>Địa chỉ</th>
                <th>Điện thoại</th>
                <th>Email</th>
                
                <th>Ký hiệu </th>
                <th>Mẫu số</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.KhachHangs_HDVATOB != null)
            {
                @foreach (var item in Model.KhachHangs_HDVATOB)
                {

                    <tr class="khachhangs-cursor-pointer ">

                        <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.Code)</td>
                        <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.MaSoThue)</td>
                        <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.TenThuongMai)</td>
                        <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.ThanhPho)</td>
                        <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.DiaChi)</td>
                        <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.DienThoai)</td>
                        <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.Email)</td>
                        
                        <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.KyHieuHd)</td>
                        <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.MauSoHd)</td>
                    </tr>

                }
            }
        </tbody>
    </table>
</div>

<div class="p-2" style="background-color: aliceblue;">
    @if (Model.KhachHangs_HDVATOB != null)
    {
        @Html.PagedListPager((IPagedList)Model.KhachHangs_HDVATOB, page => Url.Action("GetKhachHangs_HDVATOB_By_Code_KhongTC", new
   {
       page = page,
       option = Context.Request.Query["option"],
       code = Model.MaKhText
       //searchFromDate = ViewBag.searchFromDate,
       //searchToDate = ViewBag.searchToDate,
       //boolSgtcode = ViewBag.boolSgtcode,
       //boolTkNo1311 = ViewBag.boolTkNo1311
   }),
             PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
             {
                 LiElementClasses = new string[] { "page-item" },
                 PageClasses = new string[] { "page-link" },
                 MaximumPageNumbersToDisplay = 5,
                 UlElementClasses = new[] { "pagination pagination-sm m-0" }, // ul class
                 ContainerDivClasses = new[] { "pagination-container" }
             }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, HttpMethod = "GET", UpdateTargetId = "khachHang_KhongTC_Modal_Body" }))

        @*@Html.PagedListPager(Model.KhachHangs_HDVATOB, page => Url.Action("GetKhachHangs_HDVATOB_By_Code", "KVCTPTCs",
               new
               {
                   page,
                   pageSize = ViewBag.PageSize,
                   teamId = ViewBag.TeamId
               }),
            PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
            {
                //Display = PagedListDisplayMode.IfNeeded,
                MaximumPageNumbersToDisplay = 5
            },
            new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                UpdateTargetId = "PlayerContainer"
            }))*@

    }
</div>

@*<form asp-action="KhongTC_141" method="get" id="frm_KhachHang_by_code">
    <input type="hidden" name="kvpctId" id="hidKvpctId" />
    <input type="hidden" name="strUrl" id="hidStrUrl" />
    <input type="hidden" name="page" id="hidPage" />
    <input type="hidden" name="maKh" id="hidMaKh" />
    <input type="hidden" name="tenKh" id="hidTenKh" />
</form>*@
<script>
    $('#btSearch').click(function () {
        debugger
        var maKhText = $('#txtTimkh').val();

        KhachHangSearch_KhongTC(maKhText); // ben Edit_KVCTPCT
    })
    $('.khachhangs-cursor-pointer').click(function () {
        var code = $(this).children().eq(0).html();
        var name = $(this).children().eq(2).html();

        $('#hidKvpctId').val('@ViewBag.kvpctId');
        $('#hidStrUrl').val('@Model.StrUrl');
        $('#hidPage').val('@Model.Page');
        $('#hidMaKh').val(code);
        $('#hidTenKh').val(name);

        $('#frm_KhongTC_141').submit(); // ben KHongTC_141 view
    })
</script>
