@model TT621ViewModel
@{
    ViewData["Title"] = "Them CT TT";
}

<div style="overflow-x:auto; overflow-y:auto; height: 600px">
    <!-- main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card">
            @*<div class="card-header">
                    <h3 class="card-title"><i class="fas fa-file text-info"></i> Thêm CT phiếu</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>*@
            <div class="card-body p-0">

                <form method="post" asp-action="ThemMoiCT_TT_KhongTC_Partial" autocomplete="off" id="frm_ThemMoiCT_TT_KhongTC_Partial" enctype="multipart/form-data">
                    <div class="pr-4 pl-4 text-sm">

                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="TamUngId" id="hidTamUngId" /> @*tamungid khi khi click vao list tamung  trong TT621Create*@
                        <input type="hidden" asp-for="KVCTPCT.KVPCTId"> @*dung de luu PhieuTC trong tt621*@
                        <input type="hidden" asp-for="KVCTPCT.SoTienNT">
                        <input type="hidden" asp-for="KVCTPCT.TKNo">
                         @*for form valid in tt621 post*@
                        <input type="hidden" asp-for="KVCTPCT.TKCo">  @*for form valid in tt621 post*@
                        <input type="hidden" asp-for="TT621.TKCo" value="1111000000">  @*for form valid in tt621 post*@

                        <fieldset class="groupbox-border ">
                            <legend class="groupbox-border">Thông tin về tài chánh </legend>

                            <div class=" row">

                                <div class="col-md-11">
                                    <label asp-for="TT621.DienGiaiP" class="control-label"></label>
                                    <input asp-for="TT621.DienGiaiP" class="form-control form-control-sm " id="txtDienGiaiP" />
                                    <span asp-validation-for="TT621.DienGiaiP" class="text-danger"></span>
                                </div>

                                <div class="col-md-1">
                                    <label asp-for="TT621.HTTC" class="control-label"></label>
                                    <select asp-for="TT621.HTTC" class="form-control form-control-sm "
                                            asp-items="@(new SelectList(Model.DmHttcs, "Httc", "Httc"))" id="ddlHttc">
                                    </select>
                                    <span asp-validation-for="TT621.HTTC" class="text-danger"></span>
                                </div>

                            </div>


                            <div class=" row">

                                <div class="col-md-4">
                                    <label asp-for="TT621.SoTienNT" class="control-label"></label>
                                    <input asp-for="TT621.SoTienNT" class="form-control form-control-sm numbers" asp-format="{0:0,0}" id="txtSoTienNT" readonly/>
                                    <span asp-validation-for="TT621.SoTienNT" class="text-danger"></span>
                                </div>

                                <div class="col-md-2">
                                    <label asp-for="TT621.LoaiTien" class="control-label "></label>
                                    @*<select asp-for="TT621.LoaiTien" class="form-control form-control-sm"
                                            asp-items="@(new SelectList(Model.Ngoaites, "MaNt", "MaNt"))" id="ddlNgoaiTe" >
                                    </select>*@
                                    <input asp-for="TT621.LoaiTien" class="form-control form-control-sm" readonly value="VND"/>
                                    <span asp-validation-for="TT621.LoaiTien" class="text-danger"></span>
                                </div>

                                <div class="col-md-2">
                                    <label asp-for="TT621.TyGia" class="control-label "></label>
                                    <input asp-for="TT621.TyGia" class="form-control form-control-sm numbers" id="txtTyGia" readonly/>
                                    <span asp-validation-for="TT621.TyGia" class="text-danger"></span>
                                </div>

                                <div class="col-md-4">
                                    <label class="control-label">Quy ra VND</label>
                                    <input asp-for="TT621.SoTien" class="form-control form-control-sm " asp-format="{0:0,0}" readonly id="txtSoTien" />
                                    <span asp-validation-for="TT621.SoTien" class="text-danger"></span>
                                </div>
                            </div>

                            <div class=" row">

                                <div class="col-md-2">
                                    <label asp-for="TT621.TKNo" class="control-label"></label>
                                    <select asp-for="TT621.TKNo" class="form-control form-control-sm select2"
                                            asp-items="@(new SelectList(Model.DmTks_TkNo, "Tkhoan", "Tkhoan"))" id="ddlTkNo">
                                    </select>
                                    <span asp-validation-for="TT621.TKNo" class="text-danger"></span>
                                </div>

                                <div class="col-md-10">
                                    <label class="control-label">Tên tài khoãn</label>
                                    <input class="form-control form-control-sm " id="txtTenTkNo" />
                                </div>

                            </div>

                            <div class=" row">

                                <div class="col-md-12">
                                    <label asp-for="KVCTPCT.DienGiai" class="control-label"></label>
                                    <select asp-for="KVCTPCT.DienGiai" class="form-control form-control-sm" id="ddlDienGiai">
                                    </select>

                                    <span asp-validation-for="KVCTPCT.DienGiai" class="text-danger"></span>
                                </div>
                            </div>

                        </fieldset>

                        <fieldset class="groupbox-border ">
                            <legend class="groupbox-border">Thông tin về công nợ đoàn </legend>

                            <div class=" row">
                                @*@if (Model.KVCTPCT.KVPCT.MFieu == "T")  // chi danh cho phieu chi
                                    {
                                        <div class="col-md-2">
                                            <label asp-for="TT621.MaKhNo" class="control-label "></label>
                                            <div class="input-group">
                                                <input asp-for="TT621.MaKhNo" class="form-control form-control-sm" id="txtMaKhNo" readonly>
                                            </div>
                                            <span asp-validation-for="TT621.MaKhNo" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label ">Tên KH nợ</label>
                                            <input type="text" class="form-control form-control-sm" value="Không có mã khách hàng" readonly />
                                        </div>

                                        <div class="col-md-2">
                                            <label asp-for="TT621.MaKhCo" class="control-label "></label>
                                            <div class="input-group">
                                                <input asp-for="TT621.MaKhCo" class="form-control form-control-sm text-uppercase" id="txtMaKhCo_ThemMoi">
                                                <span class="input-group-btn">
                                                    <a href="javascript:;" class="btn btn-default btn-sm" id="btnKhSearch_ThemMoi" data-name="maKhCo" title="Tìm thông tin khách hàng"><i class="fa fa-search"></i></a>
                                                </span>
                                            </div>
                                            <span asp-validation-for="TT621.MaKhCo" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-4">
                                            <label class="control-label ">Tên KH có</label>
                                            <input type="text" class="form-control form-control-sm" id="txtTenKhCo_ThemMoi" value="@Model.TT621.TenKH" />
                                        </div>

                                    }
                                    else
                                    {*@
                                <div class="col-md-2">
                                    <label asp-for="TT621.MaKhNo" class="control-label "></label>
                                    <div class="input-group">
                                        <input asp-for="TT621.MaKhNo" class="form-control form-control-sm text-uppercase" id="txtMaKhNo_KhongTC">
                                        <span class="input-group-btn">
                                            <a href="javascript:;" class="btn btn-default btn-sm" id="btnKhSearch_KhongTC" data-name="maKhNo" title="Tìm thông tin khách hàng"><i class="fa fa-search"></i></a>
                                        </span>
                                    </div>
                                    <span asp-validation-for="TT621.MaKhNo" class="text-danger"></span>
                                </div>
                                <div class="col-md-10">
                                    <label class="control-label ">Tên KH nợ</label>
                                    <input type="text" class="form-control form-control-sm" id="txtTenKhNo_KhongTC" />
                                </div>

                                @*<div class="col-md-2">
                                        <label asp-for="TT621.MaKhCo" class="control-label "></label>
                                        <div class="input-group">
                                            <input asp-for="TT621.MaKhCo" class="form-control form-control-sm" id="txtMaKhNo_ThemMoi" readonly>
                                        </div>
                                        <span asp-validation-for="TT621.MaKhCo" class="text-danger"></span>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="control-label ">Tên KH có</label>
                                        <input type="text" class="form-control form-control-sm" value="Không có mã khách hàng" id="txtTenKhCo" readonly />
                                    </div>*@

                                @*}*@
                            </div>

                            <div class=" row">
                                @*@if (Model.KVCTPCT.KVPCT.MFieu == "T")
                                    {
                                        <div class="col-md-3">
                                            <label asp-for="TT621.NoQuay" class="control-label "></label>

                                            <input asp-for="TT621.NoQuay" class="form-control form-control-sm " readonly />
                                            <span asp-validation-for="TT621.MaKhNo" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-3">
                                            <label asp-for="TT621.CoQuay" class="control-label "></label>
                                            <select asp-for="TT621.CoQuay" class="form-control form-control-sm "
                                                    asp-items="@(new SelectList(Model.Quays, "Quay", "Quay"))" id="ddlCoQuay">
                                            </select>
                                            <span asp-validation-for="TT621.CoQuay" class="text-danger"></span>
                                        </div>

                                    }
                                    else
                                    {*@
                                <div class="col-md-2">
                                    <label asp-for="TT621.NoQuay" class="control-label "></label>
                                    <select asp-for="TT621.NoQuay" class="form-control form-control-sm "
                                            asp-items="@(new SelectList(Model.Quays, "Quay", "Quay"))" id="ddlNoQuay">
                                    </select>
                                    <span asp-validation-for="TT621.NoQuay" class="text-danger"></span>
                                </div>

                                <div class="col-md-2">
                                    <label asp-for="TT621.CoQuay" class="control-label "></label>
                                    @*<select asp-for="TT621.CoQuay" class="form-control form-control-sm select2" disabled
                                                asp-items="@(new SelectList(Model.Quays, "Quay", "Quay"))" id="ddlCoQuay">
                                        </select>*@
                                    <input asp-for="TT621.CoQuay" class="form-control form-control-sm " readonly />
                                    <span asp-validation-for="TT621.CoQuay" class="text-danger"></span>
                                </div>
                                @*}*@

                                <div class="col-md-2">
                                    <label asp-for="TT621.BoPhan" class="control-label "></label>
                                    <select asp-for="TT621.BoPhan" class="form-control form-control-sm "
                                            asp-items="@(new SelectList(Model.PhongBans, "BoPhan", "BoPhan"))" id="ddlBoPhan">
                                    </select>
                                    <span asp-validation-for="TT621.MaKhNo" class="text-danger"></span>
                                </div>

                                <div class="col-md-3">
                                    <label asp-for="TT621.Sgtcode" class="control-label"></label>
                                    <input asp-for="TT621.Sgtcode" class="form-control form-control-sm" id="txtSgtcode" />
                                    <span asp-validation-for="TT621.Sgtcode" class="text-danger"></span>
                                </div>

                                <div class="col-md-3">
                                    <label asp-for="TT621.SoXe" class="control-label"></label>
                                    <input asp-for="TT621.SoXe" class="form-control form-control-sm" id="txtSoXe" />
                                    <span asp-validation-for="TT621.SoXe" class="text-danger"></span>
                                </div>

                            </div>

                        </fieldset>

                        <fieldset class="groupbox-border ">
                            <legend class="groupbox-border">Thông tin về thuế </legend>

                            <div class=" row">

                                <div class="col-md-2">
                                    <label asp-for="TT621.LoaiHDGoc" class="control-label "></label>
                                    <select asp-for="TT621.LoaiHDGoc" class="form-control form-control-sm "
                                            asp-items="@(new SelectList(Model.LoaiHDGocs, "Name", "Name"))" id="ddlLoaiHDGoc">
                                    </select>
                                    <span asp-validation-for="TT621.LoaiHDGoc" class="text-danger"></span>
                                </div>

                                <div class="col-md-2">
                                    <label asp-for="TT621.NgayCTGoc" class="control-label "></label>
                                    <input type="text" value="" asp-for="TT621.NgayCTGoc" class="form-control form-control-sm maskInput" id="txtNgayCTGoc" />
                                    <span asp-validation-for="TT621.NgayCTGoc" class="text-danger"></span>
                                </div>

                                <div class="col-md-3">
                                    <label asp-for="TT621.SoCTGoc" class="control-label "></label>
                                    <input asp-for="TT621.SoCTGoc" class="form-control form-control-sm" id="txtSoCTGoc" />
                                    <span asp-validation-for="TT621.SoCTGoc" class="text-danger"></span>
                                </div>

                                <div class="col-md-2">
                                    <label asp-for="TT621.KyHieu" class="control-label "></label>
                                    <input asp-for="TT621.KyHieu" class="form-control form-control-sm" id="txtKyHieu" />
                                    <span asp-validation-for="TT621.KyHieu" class="text-danger"></span>
                                </div>

                                <div class="col-md-3">
                                    <label asp-for="TT621.MauSoHD" class="control-label "></label>
                                    <input asp-for="TT621.MauSoHD" class="form-control form-control-sm" id="txtMauSoHD" />
                                    <span asp-validation-for="TT621.MauSoHD" class="text-danger"></span>
                                </div>

                            </div>

                            <div class=" row">

                                <div class="col-md-3">
                                    <label asp-for="TT621.MsThue" class="control-label "></label>
                                    <input asp-for="TT621.MsThue" class="form-control form-control-sm" id="txtMsThue" />
                                    <span asp-validation-for="TT621.MsThue" class="text-danger"></span>
                                </div>

                                <div class="col-md-3">
                                    <label asp-for="TT621.VAT" class="control-label "></label>
                                    <input asp-for="TT621.VAT" class="form-control form-control-sm" id="txtVAT" />
                                    <span asp-validation-for="TT621.VAT" class="text-danger"></span>
                                </div>

                                <div class="col-md-3">
                                    <label asp-for="TT621.DSKhongVAT" class="control-label "></label>
                                    <input asp-for="TT621.DSKhongVAT" class="form-control form-control-sm" asp-format="{0:0,0}" id="txtDSKhongVAT" />
                                    <span asp-validation-for="TT621.DSKhongVAT" class="text-danger"></span>
                                </div>

                                <div class="col-md-3">
                                    <label asp-for="TT621.DieuChinh" class="control-label "></label>
                                    <br />
                                    <input asp-for="TT621.DieuChinh" id="ckDieuChinh" />
                                    <span asp-validation-for="TT621.DieuChinh" class="text-danger"></span>
                                </div>

                            </div>

                            <div class=" row">

                                <div class="col-md-12">
                                    <label asp-for="TT621.TenKH" class="control-label "></label>
                                    <input asp-for="TT621.TenKH" class="form-control form-control-sm" id="txtTenKH" />
                                    <span asp-validation-for="TT621.TenKH" class="text-danger"></span>
                                </div>

                            </div>

                            <div class=" row">

                                <div class="col-md-12">
                                    <label asp-for="TT621.DiaChi" class="control-label "></label>
                                    <input asp-for="TT621.DiaChi" class="form-control form-control-sm" id="txtDiaChi" />
                                    <span asp-validation-for="TT621.DiaChi" class="text-danger"></span>
                                </div>

                            </div>

                            <div class=" row">

                                <div class="col-md-4">
                                    <label asp-for="TT621.MatHang" class="control-label "></label>
                                    <select asp-for="TT621.MatHang" class="form-control form-control-sm"
                                            asp-items="@(new SelectList(Model.MatHangs, "Mathang", "Mathang"))" id="ddlMatHang">
                                    </select>
                                    <span asp-validation-for="TT621.MatHang" class="text-danger"></span>
                                </div>

                                <div class="col-md-8">
                                    <label asp-for="TT621.HoaDonDT" class="control-label "></label>
                                    <input asp-for="TT621.HoaDonDT" class="form-control form-control-sm" id="txtHoaDonDT" />
                                    <span asp-validation-for="TT621.HoaDonDT" class="text-danger"></span>
                                </div>

                            </div>

                        </fieldset>

                        <div class=" pt-1 pb-1">
                            <button type="button" class="btn btn-primary btn-sm" id="btnSaveData_KhonngTC"><i class="fas fa-save"></i> Save</button>
                            <button type="button" class="btn btn-success btn-sm" data-dismiss="modal"><i class="fas fa-backward "></i> Back</button>
                        </div>
                    </div>
                </form>



            </div>
            <!-- /.card-body -->
        </div>
    </section>
</div>
<!--Khach hang them moi modal-->
<partial name="~/Views/Shared/_KhachHangPartial_ThemMoiCTTT_KhongTC.cshtml" />

@*<script src="~/js/Admin/Home/indexController.js"></script>*@
<script src="~/js/Admin/serviceController.js"></script>
<!-- select2 and multi select2 (bootstrap4)-->
<script>
    //$('#txtMaKH').select2()
    $('.select2').select2({
    })
    //Initialize Select2 Elements
    $('.select2bs4').select2({
        theme: 'bootstrap4'
    })
    //$('.tuyenTQ').select2({
    //    theme: 'bootstrap4'
    //})

</script>

<!-- Validation -->

<script>
    // btnKhSearch
    $('#btnKhSearch_KhongTC').click(function () {

        var maKhtext = $('#txtMaKhNo_KhongTC').val();

        KhachHangSearch_KhongTC_ThemMoi(maKhtext);
    })

    $('#txtMaKhNo_KhongTC').blur(function () {

            maKhtext = $(this).val();

        $.get('/KVCTPCTs/GetKhachHangs_By_Code', { code: maKhtext }, function (response) {
            if (response.status) {
                var data = response.data;
                // console.log(data);

                $('#txtMaKhNo_KhongTC').val(data.code);
                $('#txtTenKhNo_KhongTC').val(data.name);

                $('#txtKyHieu').val(data.taxSign);
                $('#txtMauSoHD').val(data.taxForm);
                $('#txtMsThue').val(data.taxCode);
                $('#txtTenKH').val(data.name);
                $('#txtDiaChi').val(data.address);

            }
        })
    })

    $('#frm_ThemMoiCT_TT_KhongTC_Partial').validate({
        //rules: {
        //    email: {
        //        required: true,
        //        email: true,
        //    },
        //    NgayDen: {
        //        required: true
        //    },
        //    chuDetour1: {
        //        required: true
        //    },
        //},
        //messages: {
        //    email: {
        //        required: "Please enter a email address",
        //        email: "Please enter a vaild email address"
        //    },
        //    NgayDen: {
        //        required: "Please provide a date"
        //    },
        //    chuDetour1: "Please enter value"
        //},
        errorElement: 'span',
        errorPlacement: function (error, element) {
            // add error text

            //error.addClass('invalid-feedback').removeClass('error');
            //element.closest('.chuDeTourGroup').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });

    $('#txtSgtcode').rules('add', {
        minlength: 17,
        maxlength: 17,
        messages: {
            //required: "Chủ đề không được để trống"
        }
    });

    // sotien
    $('#txtSoTienNT').blur(function () {
        serviceController.TinhSoTien();
    })

    $('#txtTyGia').blur(function () {
        serviceController.TinhSoTien();
    })
    // sotien

    // get dien giai by tkno
    $('#ddlTkNo').change(function () {

        tkNo = $(this).val();
        tkCo = $('#ddlTkCo').val();

        $.ajax({
            url: '/KVCTPCTs/Get_TenTk_By_Tk',
            type: 'GET',
            data: {
                tk: tkNo
            },
            dataType: 'json',
            success: function (response) {
                //var data = JSON.parse(response.data);
                // console.log(data);
                $('#txtTenTkNo').val(response.data);
            }
        });

        Get_DienGiai_By_TkNo(tkNo);

    })
    // get dien giai by tkno

    // save
    $('#btnSaveData_KhonngTC').off('click').on('click', function () {
        //debugger

        if ($('#frm_ThemMoiCT_TT_KhongTC_Partial').valid()) {
            var tt621 = $('#frm_ThemMoiCT_TT_KhongTC_Partial').serialize();
            $.ajax({
                type: "POST",
                url: "/TT621s/ThemMoiCT_TT_KhongTC_Partial",
                data: tt621,
                dataType: "json",
                success: function (response) {
                    if (response.status) {

                        toastr.success('Tạo mới chi tiết thành công!', 'Chi tiết TT'); // toastr in admin/tour/indexController.js

                        $('#ThemMoiCT_TT_KhongTC_Modal').modal('hide');
                        //debugger
                        @*soCT = '@Model.KVCTPCT.KVPCTId';

                            indexController.Load_KVCTPCTPartial(soCT);*@
                        tamUngId = $('#hidTamUngId').val();
                        //soTienNT = Model.KVCTPCT.SoTienNT;
                        khongTCController.GetTT621s_By_TamUng(tamUngId); // get tt621 theo tamung
                        khongTCController.GetCommentText_By_TamUng(tamUngId, 0); // get comment text
                        khongTCController.Check_KetChuyenBtnStatus(tamUngId, 0); // check nut ketchuyen
                    }
                    else {
                        toastr.error(response.message);

                    }
                }
            });
        }

    });

    function Get_DienGiai_By_TkNo(tkNo) {
        $('#ddlDienGiai').html('');
        var option = '';

        $.ajax({
            url: '/KVCTPCTs/Get_DienGiai_By_TkNo',
            type: 'GET',
            data: {
                tkNo: tkNo
            },
            dataType: 'json',
            success: function (response) {
                var data = response.data;
                console.log(data);
                $.each(data, function (i, item) {
                    option = option + '<option value="' + item.dienGiai.trim() + '">' + item.dienGiai.trim() + '</option>'; //chinhanh1

                });

                $('#ddlDienGiai').html(option);
            }
        });
    }

    function KhachHangSearch_KhongTC_ThemMoi(code) {
        $.get('/TT621s/GetKhachHangs_HDVATOB_By_Code_KhongTC_ThemMoi', { code: code }, function (data) {

            $('#khachHang_Modal_ThemMoiCTTT_KhongTC').modal('show');
            $('.khachHang_KhongTC_Modal_Body').html(data);
            $('#khachHang_Modal_ThemMoiCTTT_KhongTC').draggable();
        });
    }

    //// Get_DienGiai_By_TkNo_TkCo forward to service

</script>
