@model TT621ViewModel

@{
    ViewData["Title"] = "TT621Create - KTTM";
}

<!-- CapNhatCT_TT modal-->
<div class="modal fade" id="CapNhatCT_TT_Modal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">

        <div class="modal-content ">
            <div class="modal-header p-0 pl-1">
                <h4 class="modal-title"><i class="fas fa-file text-info"></i> Cập nhật chi tiết thanh toán @*- <span id="hidLoaiPhieu"></span>*@</h4>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body CapNhatCT_TT_Body p-0">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- CapNhatCT_TT modal-->
<!-- ThemMoiCT_TT modal-->
<div class="modal fade" id="ThemMoiCT_TT_Modal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">

        <div class="modal-content ">
            <div class="modal-header p-0 pl-1">
                <h4 class="modal-title"><i class="fas fa-file text-info"></i> Thêm chi tiết thanh toán @*- <span id="hidLoaiPhieu"></span>*@</h4>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body ThemMoiCT_TT_Body p-0">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- ThemMoiCT_TT modal-->
<!-- ThemMoiCT_TT_ContextMenu modal-->
<div class="modal fade" id="ThemMoiCT_TT_ContextMenu_Modal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">

        <div class="modal-content ">
            <div class="modal-header p-0 pl-1">
                <h4 class="modal-title"><i class="fas fa-file text-info"></i> Thêm chi tiết thanh toán @*- <span id="hidLoaiPhieu"></span>*@</h4>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body ThemMoiCT_TT_ContextMenu_Body p-0">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- ThemMoiCT_TT_ContextMenu modal-->
<!-- Content Header (Page header) -->
<section class="content-header p-0">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm phiếu TT - <span>@Model.KVPTC.MFieu</span> - <span>@Model.KVPTC.SoCT</span></h1>
                <input type="hidden" value="@Model.KVPTC.SoCT" id="kVPCTId_TT621CreateView" />
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-route-id="@Model.KVCTPTC.KVPTCId" asp-route-page="@Model.Page" asp-action="Index">Danh sách phiếu</a></li>
                    <li class="breadcrumb-item active">Thanh toán tạm ứng</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- attachExcelModal modal-->
<div class="modal fade" id="importExcelModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">

        <div class="modal-content ">
            <div class="modal-header p-0 pl-1">
                <h4 class="modal-title">Upload 1411</h4>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body importExcelModal_Body p-0">
                <form asp-action="ImportExcell" method="post" autocomplete="off" id="frmImportExcell" enctype="multipart/form-data">

                    <div class=" row text-sm container pb-2">
                        <div class="col-md-6">
                            <label class="control-label">Chọn file excell</label>
                            <input type="file" class="form-control-file form-control-sm" id="fUpload" name="files">
                            <div id="dvData"></div><!-- error response -->
                        </div>

                        <div class="col-md-6">
                            <label class="control-label">Download file mẫu</label>
                            <br />
                            <a title="File mẫu" class="btn btn-success btn-sm" asp-controller="TT621s" asp-action="DownloadExcel"><i class="fas fa-download fa-1x"></i></a>
                        </div>
                    </div>

                    <div class="modal-footer p-0">
                        <button type="button" id="importExcel_Submit" class="btn btn-outline-primary"><i class="fas fa-upload"></i><i class='fa fa-spinner fa-spin submitSpin' style="display: none"></i></button>
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fas fa-power-off"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- attachExcelModal modal-->
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Thanh toán tạm ứng</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">

            <div class=" row p-2">

                <input type="hidden" asp-for="KVCTPTC.Id" id="hidKVCTPCTId" />

                <div class="col-md-2">
                    <label>Nội dung thanh toán</label>
                </div>
                <div class="col-md-4">
                    <input class="form-control form-control-sm " id="txtDienGiaiP" asp-for="KVCTPTC.DienGiaiP" readonly />
                </div>

                <div class="col-md-1">
                    <label asp-for="KVCTPTC.SoTienNT"></label>
                </div>
                <div class="col-md-2">

                    <input asp-for="KVCTPTC.SoTienNT" class="form-control form-control-sm " asp-format="{0:0,0}" id="txtSoTienNT_Create" readonly />
                </div>

                <div class="col-md-1">
                    <label asp-for="KVCTPTC.SoTien"></label>
                </div>
                <div class="col-md-2">
                    <input asp-for="KVCTPTC.SoTien" class="form-control form-control-sm " asp-format="{0:0,0}" id="txtSoTien" readonly />
                </div>
            </div>

            <div class=" row p-2">
                <div class="col-md-3">
                    <label class="control-label text-blue">Chọn 1 phiếu tạm ứng sau để thanh toán</label>
                </div>
                <div class="col-md-9">
                    <input class="form-control form-control-sm " id="txtCommentText" asp-for="CommentText" />
                </div>
            </div>

            <input type="hidden" id="hidLoaiPhieu" value="@Model.KVPTC.MFieu" />

            <div class="pr-2 pl-2">
                <table class="table mytable text-nowrap text-sm" id="tamUngTble">
                    <thead>
                        <tr class="table-info">

                            <th>@Html.DisplayNameFor(m => m.TamUngs.FirstOrDefault().SoCT)</th>
                            <th>@Html.DisplayNameFor(m => m.TamUngs.FirstOrDefault().NgayCT)</th>
                            <th>@Html.DisplayNameFor(m => m.TamUngs.FirstOrDefault().PhieuChi)</th>
                            <th>@Html.DisplayNameFor(m => m.TamUngs.FirstOrDefault().DienGiai)</th>
                            <th>@Html.DisplayNameFor(m => m.TamUngs.FirstOrDefault().LoaiTien)</th>
                            <th>@Html.DisplayNameFor(m => m.TamUngs.FirstOrDefault().ConLaiNT)</th>
                            <th>@Html.DisplayNameFor(m => m.TamUngs.FirstOrDefault().ConLai)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.TamUngs != null)
                        {
                            @foreach (var item in Model.TamUngs)
                            {

                                <tr class="tamUngTr @item.Id tamUngTr-cursor-pointer" id="@item.Id" data-id="@item.Id" data-soTU_DaTT="@item.KVCTPTC.SoTU_DaTT">

                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.SoCT)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.Raw(item.NgayCT.HasValue ? item.NgayCT.Value.ToString("dd/MM/yyyy") : "")</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.PhieuChi)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.DienGiai)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.DisplayFor(m => item.LoaiTien)</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.Raw(item.ConLaiNT.Value.ToString("N0"))</td>
                                    <td class="tdVal" data-id="@item.Id">@Html.Raw(item.ConLai.Value.ToString("N0"))</td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>

            <!-- Chi tiet thanh toan -->
            <div class=" row p-2">

                <div class="col-md-6 text-sm">
                    <label class="control-label text-blue">Chi tiết thanh toán </label>

                    <input type="hidden" id="hidTamUngId" />
                    <input type="hidden" id="hidIdCu" value="0" />
                    <button class="btn btn-outline-secondary btn-sm" title="Thêm mới CT" id="btnThemMoiCT" disabled><i class="fas fa-plus text-blue"></i></button>
                    <!--<button type="button" class="btn btn-outline-secondary btn-sm" title="Thêm mới CT" id="btnThemMoiCT" disabled><i class="fas fa-plus text-blue"></i></button>-->

                    <input type="hidden" id="hidTT621Id" />
                    <button type="button" class="btn btn-outline-secondary btn-sm" title="Cập nhật CT" id="btnCapNhatCT" disabled><i class="fas fa-edit text-blue"></i></button>
                    <button type="button" class="btn btn-outline-danger btn-sm" title="Xoá CT" id="btnDelete" disabled><i class="fas fa-trash-alt text-blue"></i></button>


                    <button type="button" class="btn btn-outline-danger btn-sm float-right" title="Xoá tất cả" id="btnDeleteAll" disabled><i class="fas fa-trash "></i></button>

                </div>

                <div class="col-md-6 text-sm text-right">
                    <button type="button" class="btn btn-outline-success btn-sm " title="Import từ excell" id="btnImportExcell" data-toggle="modal" data-target="#importExcelModal" disabled><i class="fas fa-file-import"></i></button>
                    @if (Model.KVPTC.MFieu == "T")// && Model.KVPTC.NgoaiTe == "VN")
                    {
                        <button type="button" class="btn btn-outline-dark btn-sm" title="Thu hoàn ứng" disabled id="btnThuHoanUng"><i class="fas fa-folder text-warning"></i></button>
                    }
                    <button type="button" class="btn btn-outline-dark btn-sm" title="Kết chuyển" disabled id="btnKetChuyen"><i class="fas fa-check"></i></button>
                </div>
            </div>

            <div class="pr-2 pl-2" style="overflow-x:auto;">
                <table class="table mytable text-nowrap text-sm" id="tt621Tbl">
                    <thead>
                        <tr class="table-info">

                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().SoCT)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().DienGiai)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().DienGiaiP)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().SoTienNT)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().LoaiTien)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().TyGia)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().SoTien)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().TKNo)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().MaKhNo)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().TKCo)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().MaKhCo)</th>
                            @*   <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().Sgtcode)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().HTTC)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().GhiSo)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().MsThue)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().NgayCTGoc)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().LoaiHDGoc)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().SoCTGoc)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().KyHieuHD)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().VAT)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().DSKhongVAT)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().BoPhan)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().NoQuay)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().CoQuay)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().SoXe)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().TenKH)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().DiaChi)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().KyHieu)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().MauSoHD)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().MatHang)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().DieuChinh)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().LapPhieu)</th>
                            <th>@Html.DisplayNameFor(m => m.TT621s.FirstOrDefault().HoaDonDT)</th>*@
                            <th>Sgtcode</th>

                        </tr>
                    </thead>
                    <tbody id="ctThanhToanBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class=" pt-1 pb-1">
        <a class="btn btn-success btn-sm" asp-action="Index" asp-controller="Home" asp-route-page="@Model.Page" asp-route-id="@Model.KVCTPTC.KVPTCId" id="btnBack"><i class="fas fa-backward "></i> Back</a>
    </div>
</section>

<form asp-action="ThemMoiCT_TT_ContextMenu" method="get" id="frm_ThemMoiCT_TT_ContextMenu">
    <input type="hidden" id="tamUngId" name="tamUngId" />
    <input type="hidden" id="kVCTPCTId_PhieuTC" name="kVCTPCTId_PhieuTC" />
    <input type="hidden" id="id_Dong_Da_Click" name="id_Dong_Da_Click" />

</form>

<form asp-action="Delete_TT" method="post" id="frm_Delete_TT">
    <input type="hidden" id="tt621Id_Delete" name="tt621Id" />
    <input type="hidden" id="kVCTPTCId_PhieuTC" name="kVCTPTCId_PhieuTC" />

</form>

@section Scripts{
    @*<script src="~/js/Admin/Home/indexController.js"></script>*@
    <!--mustache-->
    <script src="~/lib/mustache.min.js"></script>
    <script src="~/js/Admin/TT621/createController.js"></script>
    <script id="data-template" type="x-tmpl-mustache">

        <tr class="trTT621" data-id="{{Id}}" data-phieutc="{{PhieuTC}}">

            <td>{{SoCT}}</td>
            <td>{{DienGiai}}</td>
            <td>{{DienGiaiP}}</td>
            <td>{{SoTienNT}}</td>
            <td>{{LoaiTien}}</td>
            <td>{{TyGia}}</td>
            <td>{{SoTien}}</td>
            <td>{{TKNo}}</td>
            <td>{{MaKhNo}}</td>
            <td>{{TKCo}}</td>
            <td>{{MaKhCo}}</td>
            <td>{{Sgtcode}}</td>
        </tr>
    </script>

    <script>


        var id_Redirect = '@ViewBag.tamUngId'; //Id sau khi redirect ve //////////////////////////////////////////////
        if (id_Redirect !== '') {
            createController.Disabled_TU_Khong_TT(id_Redirect); // Disabled row TU ko co TT
            $('.' + id_Redirect).click();
        }
        if ('@ViewBag.SoTT_DaTao' === '') {
            //alert('@ViewBag.SoTT_DaTao');
            //createController.Enabled_TU_Khong_TT();
        }

        ////var tr_click = $('#phieuTbl ' + soCT);
        //if (id_Redirect !== '') {

        //    var id_Redirect_Class = $('.' + id_Redirect);

        //    if (id_Redirect_Class.hasClass("hoverClass")) {
        //        id_Redirect_Class.removeClass("hoverClass");
        //    }
        //    else {
        //        id_Redirect_Class.removeClass("hoverClass");
        //        id_Redirect_Class.addClass("hoverClass");
        //    }

        //    indexController.TdVal_Click(id_Redirect);
        //}

        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }

        // contextmenu for themmoiTT VND btnThemMoiCT
        $('#btnThemMoiCT').contextmenu(function (e) {
            e.preventDefault();

            ////ThemMoiCT_TT_ContextMenu_Partial();
            //var dienGiaiP = $('#txtDienGiaiP').val();
            //var hTTC = $('#ddlHttc').val();
            //var soTienNT = $('#txtSoTienNT').val();

            var loaiTien = '@Model.KVPTC.NgoaiTe';

            if (loaiTien === 'VN') {
                tamUngId = $('#hidTamUngId').val();

                if (tamUngId == null || tamUngId == '') {
                    alert('chưa chọn tạm ứng nào để thanh toán');
                }
                $('#tamUngId').val(tamUngId);

                id_Dong_Da_Click = $('#hidIdCu').val();
                $('#id_Dong_Da_Click').val(id_Dong_Da_Click);

                kVCTPCTId_PhieuTC = $('#hidKVCTPCTId').val(); // dung de: GetDummyTT621_By_KVCTPCT. TT621Create view
                $('#kVCTPCTId_PhieuTC').val(kVCTPCTId_PhieuTC);

                $('#frm_ThemMoiCT_TT_ContextMenu').submit();
            }
            else {
                toastr.warning("Hãy chọn phiếu TT VN.");
                return;
            }

        });

        //function ThemMoiCT_TT_ContextMenu_Partial(){
        //    debugger
        //    var dienGiaiP = $('#txtDienGiaiP').val();
        //    var hTTC = $('#ddlHttc').val();
        //    var soTienNT = $('#txtSoTienNT').val();

        //    var loaiTien = '@Model.KVPTC.NgoaiTe';

        //    if (loaiTien === 'VN') {
        //        tamUngId = $('#hidTamUngId').val();
        //        if (tamUngId == null || tamUngId == '') {
        //            alert('chưa chọn tạm ứng nào để thanh toán');
        //        }
        //        id_Dong_Da_Click = $('#hidIdCu').val();
        //        kVCTPCTId_PhieuTC = $('#hidKVCTPCTId').val(); // dung de: GetDummyTT621_By_KVCTPCT. TT621Create view
        //        var url = '/TT621s/ThemMoiCT_TT_ContextMenu_Partial';

        //        $.get(url, { tamUngId: tamUngId, kVCTPCTId_PhieuTC: kVCTPCTId_PhieuTC, id_Dong_Da_Click: id_Dong_Da_Click, dienGiaiP: dienGiaiP, hTTC: hTTC, soTienNT: soTienNT }, function (data) {
        //            $('.ThemMoiCT_TT_ContextMenu_Body').html(data);
        //            $('#ThemMoiCT_TT_ContextMenu_Modal').modal('show');
        //            $('#ThemMoiCT_TT_ContextMenu_Modal').draggable();
        //            $('#txtSoTienNT').val(soTienNT);
        //        })
        //    }
        //    else {
        //        toastr.warning("Hãy chọn phiếu TT VN.");
        //        return;
        //    }

        //}
        //// contextmenu for themmoiTT VND

        $('#btnThuHoanUng').off('click').on('click', function () {
            tamUngId = $('#hidTamUngId').val();
            soTienNT = $('#txtSoTienNT_Create').val();
            soCTThu = '@Model.KVCTPTC.SoCT';
            kvctptcId = '@Model.KVCTPTC.Id';

            bootbox.confirm({
                message: "Bạn có chắc chắn muốn <b>hoàn ứng</b> không?",
                buttons: {
                    confirm: {
                        label: 'Có',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'Không',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.post('/TT621s/ThuHoanUng', { tamUngId: tamUngId, soTienNT: soTienNT, soCTThu: soCTThu, kvctptcId: kvctptcId }, function (response) {
                            //console.log(response);
                            if (response.status) {
                                toastr.success('Thu hoàn ứng thành công', 'Thu hoàn ứng!');

                                //createController.GetTT621s_By_TamUng(tamUngId);
                                //createController.GetCommentText_By_TamUng(tamUngId, soTienNT, loaiPhieu);
                                //$('#btnDelete').attr('disabled', true); // disabled btnDelete
                                //$('#btnKetChuyen').attr('disabled', true) // disabled kechuyen

                                //// Check_ThuHoanUngBtnStatus
                                //createController.Check_ThuHoanUngBtnStatus(tamUngId);

                                //if (response.tT621sCount === '')
                                //    createController.Enabled_TU_Khong_TT();

                                //location.reload();

                                $('#btnBack').trigger('click');
                                location.reload();
                            }
                            else {
                                toastr.error(response.message, 'Thu hoàn ứng!')
                            }
                        });
                    }

                }
            });

        })


        //$('.tamUngTr-cursor-pointer').click(function () {
        //    alert('a');
        //    // giu trang thai
        //    if ($(this).hasClass("hoverClass"))
        //        $(this).removeClass("hoverClass");
        //    else {
        //        $('.tamUngTr-cursor-pointer').removeClass("hoverClass");
        //        $(this).addClass("hoverClass");
        //    }
        //})


    </script>
}

<script>

    //// giu trang thai phieu click
    //$('#tamUngTble .tamUngTr-cursor-pointer').off('click').on('click', function () {
    //    if ($(this).hasClass("hoverClass"))
    //        $(this).removeClass("hoverClass");
    //    else {

    //        var idList = [];
    //        $.each($('.tamUngTr-cursor-pointer'), function (i, item) {

    //            $(this).removeClass("hoverClass");

    //        });
    //        $(this).addClass("hoverClass");
    //    }
    //});
    //// giu trang thai phieu click

    // importexcel

    $('#importExcel_Submit').click(function () {
        var tamUngId = $('#hidTamUngId').val();
        if (tamUngId === '') {
            alert('Bạn chưa chọn TU nào.');
            return false;
        }
        var loaiPhieu = '@Model.KVPTC.MFieu';
        var kvptcId = '@Model.KVPTC.Id';
        var kvctptcId = '@Model.KVCTPTC.Id';

        var fileExtension = ['xls', 'xlsx'];
        var filename = $('#fUpload').val();
        if (filename.length !== 0) {
            var extension = filename.replace(/^.*\./, '');
            // kiem tra dinh dang
            if ($.inArray(extension, fileExtension) === -1) {
                bootbox.alert({
                    size: "small",
                    title: "Infomation",
                    message: "Chọn chưa đúng định dạng <b> Excel! </b>"
                });

                return false;
            }
        }

        if ($('#frmImportExcell').valid()) {

            var input = $('#fUpload');
            var files = input[0].files;
            if (files.length == 0) {
                toastr.warning("Vui lòng chọn file excel.");
                return;
            }

            $('#importExcel_Submit').attr('disabled', true);
            $('.submitSpin').show();

            var formData = new FormData();
            formData.append("tamUngId", tamUngId);
            formData.append("loaiPhieu", loaiPhieu);
            formData.append("kvptcId", kvptcId);
            formData.append("kvctptcId", kvctptcId);

            for (var i = 0; i <= files.length; i++) {
                formData.append("files", files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/TT621s/ImportExcell",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {

                    if (response.status) {
                        toastr.success('Import data thành công!');
                        $('#importExcelModal').modal('hide');
                        //// load lai TT621Create
                        $('#' + tamUngId).click();
                        createController.Disabled_TU_Khong_TT(tamUngId); // Disabled row TU ko co TT

                    } else {
                        $('#importExcelModal').modal('hide');
                        toastr.error(response.message);

                    }
                }
                , error: function (xhr, status, error) {
                    $('.modal').modal('hide');
                    alert("Có lỗi: " + error + " ,xin thông báo cho người quản lý biết!");
                }
            });
        }
        else {
            alert('Not valid')
        }
    })

    // btnDelete
    $('#btnDelete').off('click').on('click', function () {

        tt621Id = $('#hidTT621Id').val();
        kVCTPTCId_PhieuTC = $('#hidKVCTPCTId').val();

        $('#tt621Id_Delete').val(tt621Id);
        $('#kVCTPTCId_PhieuTC').val(kVCTPTCId_PhieuTC);
        $('#frm_Delete_TT').submit();
    })
</script>