@model IEnumerable<Data.Models_HDVATOB.Supplier>


<div class="card-body p-1">
    <div class="pr-4 pl-4 text-sm">
        <div class="pr-2 pl-2" style="overflow-x:auto; overflow-y:auto; height: 300px">
            <table class="table mytable text-nowrap text-sm" id="cTPhieuTbl">
                <thead>
                    <tr class="table-info">

                        <th>Mã KH</th>
                        <th>Tên KH</th>
                        <th>Thành phố</th>
                        <th>Địa chỉ</th>
                        <th>Điện thoại</th>
                        <th>Email</th>
                        <th>Ms Thuế</th>
                        <th>Ký hiệu </th>
                        <th>Mẫu số</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {

                            <tr class="ctphieu-cursor-pointer ">

                                <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.Code)</td>
                                <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.Name)</td>
                                <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.City)</td>
                                <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.Address)</td>
                                <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.Telephone)</td>
                                <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.Email)</td>
                                <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.Taxcode)</td>
                                <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.Taxsign)</td>
                                <td class="tdVal_Supplier" data-id="@item.Code">@Html.DisplayFor(m => item.Taxform)</td>
                            </tr>

                        }
                    }
                </tbody>
            </table>

        </div>
        <div class=" pt-1 pb-1">
            <button type="button" class="btn btn-success btn-sm" @*id="btnKVCTPCTCreatePartial_Back"*@ data-dismiss="modal"><i class="fas fa-backward "></i> Back</button>
        </div>
    </div>
</div>
