
@model KVCTPCTViewModel

@using Microsoft.AspNetCore.Http
@using Data.Utilities
@inject IHttpContextAccessor HttpContextAccessor

@{

    var user = HttpContextAccessor.HttpContext.Session.GetSingle<User>("loginUser");
}

<!-- Edit_KVCTPCT_Modal modal-->
<!--<div class="modal fade" id="Edit_KVCTPCT_Modal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">

        <div class="modal-content ">
            <div class="modal-header p-0 pl-1">
                <h4 class="modal-title">Cập nhật chi tiết phiếu - <span id="hidLoaiPhieuFull"></span></h4>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body Edit_KVCTPCT_Modal_Body p-0">
            </div>
        </div>-->
<!-- /.modal-content -->
<!--</div>-->
<!-- /.modal-dialog -->
<!--</div>-->
<!-- Edit_KVCTPCT_Modal modal-->

<div class="pr-2 pl-2" style="overflow-x:auto; overflow-y:auto">
    <table class="table mytable text-nowrap text-sm" id="cTPhieuTbl">
        <thead>
            <tr class="table-info">

                <th># @*<button type="button" class="btn btn-outline-info btn-sm text-bold btn-block" id="btn_New_KVCTPCT" data-kvpctid="@Model.KVPCT.SoCT" title="Right click to full"><i class="fas fa-plus"></i></button>*@</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().DienGiaiP)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().SoXe)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().HTTC)</th> <!--?-->
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().SoTienNT)</th> <!--?-->
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().LoaiTien)</th> <!--NgoaiTe-->
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().TyGia)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().SoTien)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().TKNo)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().MaKhNo)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().TKCo)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().DienGiai)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().MaKhCo)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().Sgtcode)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().NoQuay)</th><!--?-->
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().CoQuay)</th><!--?-->
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().CardNumber)</th><!--?-->
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().SalesSlip)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().SoCTGoc)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().KyHieu)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().LoaiHDGoc)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().NgayCTGoc)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().MauSoHD)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().MsThue)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().VAT)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().DSKhongVAT)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().BoPhan)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().STT)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().TenKH)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().DiaChi)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().MatHang)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().DieuChinh)</th>

                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().LinkHDDT)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().MaTraCuu)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().TkTruyCap)</th>
                <th>@Html.DisplayNameFor(m => m.KVCTPCTs.FirstOrDefault().Password)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.KVCTPCTs != null)
            {
                @foreach (var item in Model.KVCTPCTs)
                {

                    <tr class="ctphieu-cursor-pointer ">

                        <td>
                            <div class="btn-group text-white" role="group">

                                <a class="text-primary btnEditKVCTPCT" asp-action="Edit_KVCTPCT" asp-controller="KVCTPCTs" title="Cập nhật" asp-route-id="@item.Id" asp-route-page="@Model.Page"><i class="fas fa-edit"></i></a>
                                @*<span class="text-dark"> | </span>*@

                                <!--<a class="text-success" title="Chi tiết" asp-action="Details" asp-route-id="item.Id"><i class="fas fa-list"></i></a>-->

                                <span class="text-dark"> | </span>
                                <span id="confirmDeleteSpan_@item.Id" style="display: none">

                                    <span class="text-dark ">Xoá?</span>
                                    <button type="button" class="btn btn-danger btn-xs btnXoaDong" data-id="@item.Id" >Yes</button>
                                    <button type="button" class="btn btn-primary btn-xs" onclick="confirmDelete('@item.Id', false)">No</button>
                                </span>
                                <span id="deleteSpan_@item.Id">

                                    <button type="button" data-id="@item.Id" class="text-danger border-0 bg-transparent btnXoa" title="Hủy" onclick="confirmDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></button>

                                </span>

                                <!-- hidden form khoiphuc-->
                                <!--<form asp-action="KhoiPhucTour" method="post" id="frmKhoiPhucTour">
                                    <input type="hidden" id="hidTourId" name="id" />
                                    <input type="hidden" id="hidStrUrl" name="strUrl" value="Model.StrUrl" />
                                </form>-->

                            </div>
                        </td>

                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.DienGiaiP)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.SoXe)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.HTTC)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.Raw(item.SoTienNT.ToString("N0"))</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.LoaiTien)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.TyGia)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.Raw(item.SoTien.ToString("N0"))</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.TKNo)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.MaKhNo)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.TKCo)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.DienGiai)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.MaKhCo)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.Sgtcode)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.NoQuay)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.CoQuay)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.CardNumber)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.SalesSlip)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.SoCTGoc)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.KyHieu)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.LoaiHDGoc)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.Raw(item.NgayCTGoc.HasValue ? item.NgayCTGoc.Value.ToString("dd/MM/yyyy") : "")</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.MauSoHD)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.MsThue)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.VAT)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.Raw(item.DSKhongVAT.ToString("N0"))</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.BoPhan)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.STT)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.TenKH)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.DiaChi)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.MatHang)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.DieuChinh)</td>

                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.LinkHDDT)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.MaTraCuu)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.TkTruyCap)</td>
                        <td class="tdVal_KVCTPCT" data-id="@item.Id">@Html.DisplayFor(m => item.Password)</td>

                    </tr>

                }
            }
        </tbody>
    </table>

</div>

<script src="~/js/Admin/Home/indexController.js"></script>
<script>
    function confirmDelete(uniqueId, isDeleteClicked) {
        
        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }
    // btnXoaDong
    $('.btnXoaDong').click(function () {
        
        var page = @Model.Page;
        var soCT = '@Model.KVPCT.SoCT';

        id = $(this).data('id');

        var url = '/KVCTPCTs/Delete';
        $.post(url, { id: id }, function (response) {
            console.log(response);
            if (response) {
                toastr.success('Xoá thành công', 'Xoá!');
                indexController.Load_KVCTPCTPartial(soCT, page);
            }
        });

    });
        // btnXoaDong

</script>