@model KVCTPCTViewModel
@{
    var khachHangs = Model.KhachHangs;
}
<!-- Main content -->
@*<section class="content">*@

<!-- Default box -->
@*<div class="card">*@
@* <div class="card-header">
     <h3 class="card-title"><i class="fas fa-file text-info"></i> Thêm CT phiếu</h3>

    <div class="card-tools">
                 <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                     <i class="fas fa-minus"></i>
                 </button>
                 <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                     <i class="fas fa-times"></i>
                 </button>
             </div>
     </div>*@
<div class="card-body p-0">

    <form method="post" asp-action="KVCTPCT_Modal_Partial" autocomplete="off" id="frm_KVCTPCT_Create" enctype="multipart/form-data">
        <div class="pr-4 pl-4 text-sm">

            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="KVCTPCT.KVPCTId" />
            <input type="hidden" asp-for="StrUrl" />
            <!--Thông tin về tài chánh-->
            <fieldset class="groupbox-border ">
                <legend class="groupbox-border">Thông tin về tài chánh </legend>

                <div class=" row">

                    <div class="col-md-11">
                        <label asp-for="KVCTPCT.DienGiaiP" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                        <input asp-for="KVCTPCT.DienGiaiP" class="form-control form-control-sm " id="txtDienGiaiP" />
                        <span asp-validation-for="KVCTPCT.DienGiaiP" class="text-danger"></span>
                    </div>

                    <div class="col-md-1">
                        <label asp-for="KVCTPCT.HTTC" class="control-label"></label>
                        <select asp-for="KVCTPCT.HTTC" class="form-control form-control-sm select2"
                                asp-items="@(new SelectList(Model.DmHttcs, "Httc", "Httc"))" id="ddlHttc">
                        </select>
                        <span asp-validation-for="KVCTPCT.HTTC" class="text-danger"></span>
                    </div>

                </div>


                <div class=" row">

                    <div class="col-md-4">
                        <label class="control-label">Tổng tiền NT</label>
                        <input asp-for="KVCTPCT.SoTienNT" class="form-control form-control-sm numbers" id="txtSoTienNT" />
                        <span asp-validation-for="KVCTPCT.SoTienNT" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="KVCTPCT.LoaiTien" class="control-label "></label>
                        <select asp-for="KVCTPCT.LoaiTien" class="form-control form-control-sm "
                                asp-items="@(new SelectList(Model.Ngoaites, "MaNt", "MaNt"))" id="ddlNgoaiTe">
                        </select>
                        <span asp-validation-for="KVCTPCT.LoaiTien" class="text-danger"></span>
                    </div>

                    <div class="col-md-2">
                        <label asp-for="KVCTPCT.TyGia" class="control-label "></label>
                        <input asp-for="KVCTPCT.TyGia" class="form-control form-control-sm numbers" id="txtTyGia" />
                        <span asp-validation-for="KVCTPCT.TyGia" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label class="control-label">Quy ra VND</label>
                        <input asp-for="KVCTPCT.SoTien" class="form-control form-control-sm " readonly id="txtSoTien" />
                        <span asp-validation-for="KVCTPCT.SoTien" class="text-danger"></span>
                    </div>
                </div>

                <div class=" row">

                    <div class="col-md-4">
                        <label class="control-label">Chi phí</label>
                        <input class="form-control form-control-sm numbers" id="txtChiPhi" />
                        <span @*asp-validation-for="KVCTPCT.SoTienNT"*@ class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label class="control-label ">Thuế suất % VAT</label>
                        <input class="form-control form-control-sm numbers" id="txtThueSuat" />
                        <span @*asp-validation-for="KVCTPCT.TyGia"*@ class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label class="control-label">Thuế GTGT</label>
                        <input class="form-control form-control-sm " id="txtThueGTGT" />
                        <span @*asp-validation-for="KVCTPCT.SoTien"*@ class="text-danger"></span>
                    </div>
                </div>

                <div class=" row">
                    @if (Model.KVPCT.MFieu == "C")
                    {
                        <div class="col-md-2">
                            <label asp-for="KVCTPCT.TKNo" class="control-label"></label>
                            <select asp-for="KVCTPCT.TKNo" class="form-control form-control-sm select2"
                                    asp-items="@(new SelectList(Model.DmTks, "Tkhoan", "Tkhoan"))" id="ddlTkNo">
                            </select>
                            <span asp-validation-for="KVCTPCT.TKNo" class="text-danger"></span>
                        </div>

                        <div class="col-md-10">
                            <label class="control-label">Tên tài khoãn</label>
                            <input class="form-control form-control-sm " id="txtTenTkNo" />
                        </div>

                    }
                    else
                    {
                        <div class="col-md-2">
                            <label asp-for="KVCTPCT.TKCo" class="control-label"></label>
                            <select asp-for="KVCTPCT.TKCo" class="form-control form-control-sm select2"
                                    asp-items="@(new SelectList(Model.DmTks, "Tkhoan", "Tkhoan"))" id="ddlTkCo">
                            </select>
                            <span asp-validation-for="KVCTPCT.TKCo" class="text-danger"></span>
                        </div>

                        <div class="col-md-10">
                            <label class="control-label">Tên tài khoãn</label>
                            <input class="form-control form-control-sm " id="txtTenTkNo" />
                        </div>

                    }

                </div>

                <div class=" row">

                    <div class="col-md-12">
                        <label asp-for="KVCTPCT.DienGiai" class="control-label"></label>
                        <select asp-for="KVCTPCT.DienGiai" class="form-control form-control-sm" id="ddlDienGiai">
                        </select>

                        <span asp-validation-for="KVCTPCT.DienGiai" class="text-danger"></span>
                    </div>
                </div>

            </fieldset>
            <!--Thông tin về công nợ đoàn-->
            <fieldset class="groupbox-border ">
                <legend class="groupbox-border">Thông tin về công nợ đoàn </legend>
                @if (Model.KVPCT.MFieu == "C")
                {
                    <div class=" row">

                        <div class="col-md-2">
                            <label asp-for="KVCTPCT.MaKhNo" class="control-label "></label>
                            <select asp-for="KVCTPCT.MaKhNo" class="form-control form-control-sm select2"
                                    asp-items="@(new SelectList(Model.KhachHangs, "Code", "Code"))" id="ddlMaKhNo">
                            </select>
                            <span asp-validation-for="KVCTPCT.MaKhNo" class="text-danger"></span>
                        </div>
                        <div class="col-md-10">
                            <label class="control-label ">Tên KH nợ</label>
                            <input type="text" class="form-control form-control-sm" id="txtTenKhNo" />
                        </div>

                    </div>

                }
                else // Thu
                {
                    <div class=" row">

                        <div class="col-md-2">
                            <label asp-for="KVCTPCT.MaKhCo" class="control-label "></label>
                            <select asp-for="KVCTPCT.MaKhCo" class="form-control form-control-sm select2"
                                    asp-items="@(new SelectList(Model.KhachHangs, "Code", "Code"))" id="ddlMaKhCo">
                            </select>
                            <span asp-validation-for="KVCTPCT.MaKhCo" class="text-danger"></span>
                        </div>
                        <div class="col-md-10">
                            <label class="control-label ">Tên KH nợ</label>
                            <input type="text" class="form-control form-control-sm" id="txtTenKhNo" />
                        </div>

                    </div>

                }

                <div class=" row">

                    <div class="col-md-3">
                        <label asp-for="KVCTPCT.NoQuay" class="control-label "></label>
                        <select asp-for="KVCTPCT.NoQuay" class="form-control form-control-sm select2"
                                asp-items="@(new SelectList(Model.Quays, "Quay", "Quay"))" id="ddlNoQuay">
                        </select>
                        <span asp-validation-for="KVCTPCT.MaKhNo" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="KVCTPCT.CoQuay" class="control-label "></label>
                        <select asp-for="KVCTPCT.CoQuay" class="form-control form-control-sm select2"
                                asp-items="@(new SelectList(Model.Quays, "Quay", "Quay"))" id="ddlCoQuay">
                        </select>
                        <span asp-validation-for="KVCTPCT.CoQuay" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="KVCTPCT.BoPhan" class="control-label "></label>
                        <select asp-for="KVCTPCT.BoPhan" class="form-control form-control-sm select2"
                                asp-items="@(new SelectList(Model.PhongBans, "BoPhan", "BoPhan"))" id="ddlBoPhan">
                        </select>
                        <span asp-validation-for="KVCTPCT.MaKhNo" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="KVCTPCT.Sgtcode" class="control-label"></label>
                        <input asp-for="KVCTPCT.Sgtcode" class="form-control form-control-sm" id="txtSgtcode" />
                        <span asp-validation-for="KVCTPCT.Sgtcode" class="text-danger"></span>
                    </div>

                </div>

                <div class=" row">

                    <div class="col-md-4">
                        <label asp-for="KVCTPCT.SoXe" class="control-label"></label>
                        <input asp-for="KVCTPCT.SoXe" class="form-control form-control-sm" id="txtSoXe" />
                        <span asp-validation-for="KVCTPCT.SoXe" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="KVCTPCT.CardNumber" class="control-label"></label>
                        <input asp-for="KVCTPCT.CardNumber" class="form-control form-control-sm" id="txtCardNumber" />
                        <span asp-validation-for="KVCTPCT.CardNumber" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="KVCTPCT.SalesSlip" class="control-label"></label>
                        <input asp-for="KVCTPCT.SalesSlip" class="form-control form-control-sm" id="txtCardNumber" />
                        <span asp-validation-for="KVCTPCT.SalesSlip" class="text-danger"></span>
                    </div>

                </div>

            </fieldset>
            <!--Thông tin về thuế-->
            <fieldset class="groupbox-border ">
                <legend class="groupbox-border">Thông tin về thuế </legend>

                <div class=" row">

                    <div class="col-md-3">
                        <label asp-for="KVCTPCT.LoaiHDGoc" class="control-label "></label>
                        <input asp-for="KVCTPCT.LoaiHDGoc" class="form-control form-control-sm" id="txtLoaiHDGoc" />
                        <span asp-validation-for="KVCTPCT.LoaiHDGoc" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="KVCTPCT.NgayCTGoc" class="control-label "></label>
                        <input type="text" value="" asp-for="KVCTPCT.NgayCTGoc" class="form-control form-control-sm maskInput" id="txtNgayCTGoc" />
                        <span asp-validation-for="KVCTPCT.NgayCTGoc" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="KVCTPCT.SoCTGoc" class="control-label "></label>
                        <input asp-for="KVCTPCT.SoCTGoc" class="form-control form-control-sm" id="txtSoCTGoc" />
                        <span asp-validation-for="KVCTPCT.SoCTGoc" class="text-danger"></span>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="KVCTPCT.KyHieu" class="control-label "></label>
                        <input asp-for="KVCTPCT.KyHieu" class="form-control form-control-sm" id="txtKyHieu" />
                        <span asp-validation-for="KVCTPCT.KyHieu" class="text-danger"></span>
                    </div>
                </div>

                <div class=" row">

                    <div class="col-md-4">
                        <label asp-for="KVCTPCT.MauSoHD" class="control-label "></label>
                        <input asp-for="KVCTPCT.MauSoHD" class="form-control form-control-sm" id="txtMauSoHD" />
                        <span asp-validation-for="KVCTPCT.MauSoHD" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="KVCTPCT.MsThue" class="control-label "></label>
                        <input asp-for="KVCTPCT.MsThue" class="form-control form-control-sm" id="txtMsThue" />
                        <span asp-validation-for="KVCTPCT.MsThue" class="text-danger"></span>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="KVCTPCT.DieuChinh" class="control-label "></label>
                        <br />
                        <input asp-for="KVCTPCT.DieuChinh" id="ckDieuChinh" />
                        <span asp-validation-for="KVCTPCT.DieuChinh" class="text-danger"></span>
                    </div>

                </div>

                <div class=" row">

                    <div class="col-md-12">
                        <label asp-for="KVCTPCT.TenKH" class="control-label "></label>
                        <input asp-for="KVCTPCT.TenKH" class="form-control form-control-sm" id="txtTenKH" />
                        <span asp-validation-for="KVCTPCT.TenKH" class="text-danger"></span>
                    </div>

                </div>
                
                <div class=" row">

                    <div class="col-md-12">
                        <label asp-for="KVCTPCT.DiaChi" class="control-label "></label>
                        <input asp-for="KVCTPCT.DiaChi" class="form-control form-control-sm" id="txtDiaChi" />
                        <span asp-validation-for="KVCTPCT.DiaChi" class="text-danger"></span>
                    </div>

                </div>

                <div class=" row">

                    <div class="col-md-6">
                        <label asp-for="KVCTPCT.MatHang" class="control-label "></label>
                        <select asp-for="KVCTPCT.MatHang" class="form-control form-control-sm select2"
                                asp-items="@(new SelectList(Model.MatHangs, "Mathang", "Mathang"))" id="ddlMatHang">
                        </select>
                        <span asp-validation-for="KVCTPCT.MatHang" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="KVCTPCT.HoaDonDT" class="control-label "></label>
                        <input asp-for="KVCTPCT.HoaDonDT" class="form-control form-control-sm" id="txtHDDT" />
                        <span asp-validation-for="KVCTPCT.HoaDonDT" class="text-danger"></span>
                    </div>

                </div>

            </fieldset>

            <div class=" pt-1 pb-1">
                <button type="submit" class="btn btn-primary btn-sm" @*id="btnKVCTPCTCreatePartial_Save"*@><i class="fas fa-save"></i> Save</button>
                <button type="button" class="btn btn-success btn-sm" @*id="btnKVCTPCTCreatePartial_Back"*@ data-dismiss="modal"><i class="fas fa-backward "></i> Back</button>
                <a class="btn btn-default" asp-action="BackIndexTest" asp-route-soCT="@Model.KVPCT.SoCT"></a>
            </div>
        </div>
    </form>



</div>
<!-- /.card-body -->
<!-- jqueryui-->

<script src="~/js/Admin/Home/indexController.js"></script>

<!-- select2 and multi select2 (bootstrap4)-->
<script>
    //$('#txtMaKH').select2()
    $('.select2').select2()
    //$('#ddlMaKhNo').select2()
    //Initialize Select2 Elements
    $('.select2bs4').select2({
        theme: 'bootstrap4'
    })
    //$('.tuyenTQ').select2({
    //    theme: 'bootstrap4'
    //})


</script>

<!-- Validation -->

<script>

    $('#frm_KVCTPCT_Create').validate({
        //rules: {
        //    email: {
        //        required: true,
        //        email: true,
        //    },
        //    NgayDen: {
        //        required: true
        //    },
        //    chuDetour1: {
        //        required: true
        //    },
        //},
        //messages: {
        //    email: {
        //        required: "Please enter a email address",
        //        email: "Please enter a vaild email address"
        //    },
        //    NgayDen: {
        //        required: "Please provide a date"
        //    },
        //    chuDetour1: "Please enter value"
        //},
        errorElement: 'span',
        errorPlacement: function (error, element) {
            // add error text

            //error.addClass('invalid-feedback').removeClass('error');
            //element.closest('.chuDeTourGroup').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });

    //$('#txtSgtcode').rules('add', {
    //    required: true,
    //    minlength: 17,
    //    messages: {
    //        //required: "Chủ đề không được để trống"
    //    }
    //});

    // sotien

    $('#txtSoTienNT').blur(function () {

        soTienNT = $('#txtSoTienNT').val();
        tyGia = $('#txtTyGia').val();

        $.ajax({
            type: "GET",
            url: "/KVCTPCTs/TinhSoTien",
            data: { soTienNT: soTienNT, tyGia: tyGia },
            dataType: "json",
            success: function (response) {
                if (response.status) {
                    soTien = response.soTien;
                    $('#txtSoTien').val(numeral(soTien).format('0,0'));
                }
                else {
                    toastr.error(response.message);

                }
            }
        });

    })

    $('#txtTyGia').blur(function () {

        soTienNT = $('#txtSoTienNT').val();
        tyGia = $('#txtTyGia').val();

        $.ajax({
            type: "GET",
            url: "/KVCTPCTs/TinhSoTien",
            data: { soTienNT: soTienNT, tyGia: tyGia },
            dataType: "json",
            success: function (response) {
                if (response.status) {
                    soTien = response.soTien;
                    $('#txtSoTien').val(numeral(soTien).format('0,0'));
                }
                else {
                    toastr.error(response.message);

                }
            }
        });

    })

    // sotien

    // get dien giai by tkno tkco
    $('#ddlTkNo').change(function () {

        tkNo = $(this).val();
        tkCo = $('#ddlTkCo').val();

        $.ajax({
            url: '/KVCTPCTs/Get_TenTk_By_Tk',
            type: 'GET',
            data: {
                tk: tkNo
            },
            dataType: 'json',
            success: function (response) {
                //var data = JSON.parse(response.data);
               // console.log(data);
                $('#txtTenTkNo').val(response.data);
            }
        });

        Get_DienGiai_By_TkNo(tkNo);

    })
    //$('#ddlTkCo').change(function () {
    //    tkCo = $(this).val();
    //    tkNo = $('#ddlTkNo').val();

    //    $.ajax({
    //        url: '/KVCTPCTs/Get_TenTk_By_Tk',
    //        type: 'GET',
    //        data: {
    //            tk: tkCo
    //        },
    //        dataType: 'json',
    //        success: function (response) {
    //            //var data = JSON.parse(response.data);
    //            //console.log(data);
    //            $('#txtTenTkCo').val(response.data);
    //        }
    //    });

    //    Get_DienGiai_By_TkNo_TkCo(tkNo, tkCo);

    //})
    // get dien giai by tkno tkco

    // makh => tenkh
    $('#ddlMaKhNo').change(function () {

        var code = $(this).val();
        $.ajax({
            url: '/KVCTPCTs/GetKhachHangs_By_Code',
            type: 'GET',
            data: { code: code },
            dataType: 'json',
            success: function (response) {
                var data = response.data;
                $('#txtTenKhNo').val(data.name);
            }
        })
    })
    //$('#ddlMaKhCo').off('change').on('change', function () {

    //    var code = $(this).val();
    //    $.ajax({
    //        url: '/KVCTPCTs/GetKhachHangs_By_Code',
    //        type: 'GET',
    //        data: { code: code },
    //        dataType: 'json',
    //        success: function (response) {
    //            var data = response.data;
    //            $('#txtTenKhCo').val(data.name);
    //        }
    //    })
    //})
    // makh => tenkh

    function Get_DienGiai_By_TkNo(tkNo) {
        $('#ddlDienGiai').html('');
        var option = '';

        $.ajax({
            url: '/KVCTPCTs/Get_DienGiai_By_TkNo',
            type: 'GET',
            data: {
                tkNo: tkNo
            },
            dataType: 'json',
            success: function (response) {
                var data = response.data;
                console.log(data);
                $.each(data, function (i, item) {
                    option = option + '<option value="' + item.dienGiai.trim() + '">' + item.dienGiai.trim() + '</option>'; //chinhanh1

                });

                $('#ddlDienGiai').html(option);
            }
        });
    }

</script>
