@model BaoCaoViewModel

<div class="row form-group">
    <div class="col-xs-12 col-md-12 ml-2 pr-4">
        <div class="row rounded p-2 text-sm" style="padding-bottom:5px; background-color: aliceblue;" id="search">
            @*<div class=" row text-sm">*@

            <div class="col-md-1">
                <label>Từ ngày</label>
            </div>

            <div class="col-md-2">
                <input class="form-control form-control-sm maskInput" id="txtTuNgay" value="@ViewBag.searchFromDate" />

            </div>

            <div class="col-md-1">
                <label>Đến ngày</label>
            </div>

            <div class="col-md-2">
                <input class="form-control form-control-sm maskInput" id="txtDenNgay" value="@ViewBag.searchToDate" />

            </div>
            
            <div class="col-md-1">
                <label>Mã KH có</label>
            </div>

            <div class="col-md-2 ">
                <input class="form-control form-control-sm text-uppercase" id="txtMaKhCo" value="@ViewBag.maKhCo" />

            </div>

            <div class="col-md-1 text-sm">
                @*<label>&nbsp;</label>*@
                <div class=" btn-block btn-group">
                    <button type="button" class="btn btn-primary btn-sm" id="btnInChungTuSearch" title="Tìm kiếm">
                        <i class="fas fa-search"></i>
                    </button>
                    <button type="button" class="btn btn-success btn-sm" id="btnInChungTu" title="In chứng từ" disabled>
                        <i class="fas fa-print"></i>
                    </button>
                </div>
            </div>

            @*</div>*@
        </div>
    </div>
</div>

<div style="overflow-x:auto; overflow-y:auto; height: 300px">
    <table class="table mytable text-nowrap text-sm" id="khachHangTbl">
        <thead>
            <tr class="table-info">

                <th>Số TT</th>
                <th>Ngày</th>
                <th>Mã KH có</th>
                <th>Tên Người Thanh Toán</th>
                <th>Phiếu thu/chi</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.TT621s != null)
            {
                @foreach (var item in Model.TT621s.ToList())
                {

                    <tr class="khachhangs-cursor-pointer " data-id="@item.Id">

                        <td class="tdVal_TT621" data-id="@item.Id">@Html.DisplayFor(m => item.SoCT)</td>
                        <td class="tdVal_TT621" data-id="@item.Id">@Html.Raw(item.NgayCT.Value.ToString("dd/MM/yyyy"))</td>
                        <td class="tdVal_TT621" data-id="@item.Id">@Html.DisplayFor(m => item.MaKhCo)</td>
                        <td class="tdVal_TT621" data-id="@item.Id">@Html.DisplayFor(m => item.TamUng.KVCTPTC.KVPTC.HoTen)</td>
                        <td class="tdVal_TT621" data-id="@item.Id">@Html.DisplayFor(m => item.PhieuTC)</td>

                    </tr>

                }
            }
        </tbody>
    </table>

</div>

<form asp-action="InChungTuGhiSoExcel" id="frm_InChungTuGhiSoExcel" method="post">
    <input type="hidden" id="hidTuNgay" name="tuNgay" />
    <input type="hidden" id="hidDenNgay" name="denNgay" />
    <input type="hidden" id="hidMaKhCo" name="maKhCo" />

    <input type="hidden" id="hidId_TT" name="id_TT" />
    <input type="hidden" id="hidSoCT_TT" name="soCT_TT" />
    <input type="hidden" id="hidNgayCT_TT" name="ngayCT_TT" />
    <input type="hidden" id="hidMaKhCo_TT" name="maKhCo_TT" />
    <input type="hidden" id="hidHoTen_TT" name="hoTen_TT" />
    <input type="hidden" id="hidPhieuTC_TT" name="phieuTC_TT" />
</form>

<script>
    $(".maskInput").mask("99/99/9999");

    // enter for search
    shortcut.add("Enter", function () {

        $('#btnInChungTuSearch').click();
    });

    $('#btnInChungTuSearch').off('click').on('click', function () {
        tuNgay = $('#txtTuNgay').val();
        denNgay = $('#txtDenNgay').val();
        maKhCo = $('#txtMaKhCo').val();

        InChungTungGhiSo(tuNgay, denNgay, maKhCo); // _TopMenu
    })

    // btnInChungTu
    $('#btnInChungTu').off('click').on('click', function () {
        //tuNgay = $('#txtTuNgay').val();
        //denNgay = $('#txtDenNgay').val();

        //$('#hidTuNgay').val(tuNgay);
        //$('#hidDenNgay').val(denNgay);

        $('#frm_InChungTuGhiSoExcel').submit();
    })
    $('#txtTuNgay').click(function () {
        $('#btnInChungTu').attr('disabled', true); // disabled btnInChungTu
    })
    $('#txtDenNgay').click(function () {
        $('#btnInChungTu').attr('disabled', true); // disabled btnInChungTu
    })
    $('#btnInChungTuSearch').click(function () {
        $('#btnInChungTu').attr('disabled', true); // disabled btnInChungTu
    })
    $('.khachhangs-cursor-pointer').click(function () {

        $('#btnInChungTu').attr('disabled', false); // enabled btnInChungTu

        // giu trang thai
        if ($(this).hasClass("hoverClass"))
            $(this).removeClass("hoverClass");
        else {
            $('.khachhangs-cursor-pointer').removeClass("hoverClass");
            $(this).addClass("hoverClass");
        }

        tuNgay = $('#txtTuNgay').val();
        denNgay = $('#txtDenNgay').val();

        var id_TT = $(this).data('id');
        var soCT_TT = $(this).children().eq(0).html();
        var ngayCT_TT = $(this).children().eq(1).html();
        var maKhCo_TT = $(this).children().eq(2).html();
        var hoTen_TT = $(this).children().eq(3).html();
        var phieuTC_TT = $(this).children().eq(4).html();

        $('#hidTuNgay').val(tuNgay);
        $('#hidDenNgay').val(denNgay);

        $('#hidId_TT').val(id_TT);
        $('#hidSoCT_TT').val(soCT_TT);
        $('#hidNgayCT_TT').val(ngayCT_TT);
        $('#hidMaKhCo_TT').val(maKhCo_TT);
        $('#hidHoTen_TT').val(hoTen_TT);
        $('#hidPhieuTC_TT').val(phieuTC_TT);

        //var code = $(this).children().eq(0).html();
        //var name = $(this).children().eq(1).html();


    })
</script>
