@model BaoCaoViewModel


<div class="row form-group">
    <div class="col-xs-12 col-md-12 ">
        <div class="rounded p-2 text-sm" style="padding-bottom:5px; background-color: aliceblue;" id="search">
            <div class=" row form-group text-sm">

                <div class="col-md-7">
                    <label>Phiếu tạm ứng trước ngày</label>
                </div>

                <div class="col-md-5">
                    <input class="form-control form-control-sm maskInput" id="txtTuNgay" value="@ViewBag.searchFromDate" />

                </div>
            </div>

            <div class=" row text-sm">
                <div class="col-md-7">
                    <label>Thanh toán chậm nhất là ngày</label>
                </div>

                <div class="col-md-5">
                    <input class="form-control form-control-sm maskInput" id="txtDenNgay" value="@ViewBag.searchToDate" />

                </div>
            </div>

        </div>
    </div>
</div>

<div style="overflow-x:auto; overflow-y:auto; height: 300px">
    <table class="table mytable text-nowrap text-sm" id="khachHangTbl">
        <thead>
            <tr class="table-info">

                @*<th>Số TT</th>
                    <th>Ngày</th>
                    <th>Mã KH có</th>
                    <th>Tên Người Thanh Toán</th>
                    <th>Phiếu thu/chi</th>*@

            </tr>
        </thead>
        <tbody>
            @if (Model.PhongBans != null)
            {
                @foreach (var item in Model.PhongBans.ToList())
                {

                    <tr class="bophans-cursor-pointer " data-id="@item.Id">

                        <td class="tdVal_PhongBan" data-id="@item.Id">@Html.DisplayFor(m => item.TenBoPhan)</td>
                        @*<td class="tdVal_TT621" data-id="@item.Id">@Html.Raw(item.NgayCT.Value.ToString("dd/MM/yyyy"))</td>
                            <td class="tdVal_TT621" data-id="@item.Id">@Html.DisplayFor(m => item.MaKhCo)</td>
                            <td class="tdVal_TT621" data-id="@item.Id">@Html.DisplayFor(m => item.TamUng.KVCTPCT.KVPCT.LapPhieu)</td>
                            <td class="tdVal_TT621" data-id="@item.Id">@Html.DisplayFor(m => item.PhieuTC)</td>*@

                    </tr>

                }
            }
        </tbody>
    </table>

</div>
               
<form id="frm_TheoDoiTUNoiBo" method="post">
    <input type="hidden" id="hidTuNgay" name="tuNgay" />
    <input type="hidden" id="hidDenNgay" name="denNgay" />
    <input type="hidden" id="hidId_BoPhan" name="id_BoPhan" />

    <button type="submit" hidden id="btnHidIn" formaction="/BaoCaos/TheoDoiTUNoiBoTk141_Partial_Excel_In" formmethod="post"></button>
    <button type="submit" hidden id="btnHidInTatCa" formaction="/BaoCaos/TheoDoiTUNoiBoTk141_Partial_Excel_InTatCa" formmethod="post"></button>
    <button type="submit" hidden id="btnHidTatCaTrong1Sheet" formaction="/BaoCaos/TheoDoiTUNoiBoTk141_Partial_Excel_TatCa1Sheet"></button>
</form>

<script>
    $(".maskInput").mask("99/99/9999");

    //// btnHidIn
    $('#btnPrintSelect').click(function () {// _TheoDoiTUNoiBo_Modal
        
        $(this).attr('disabled', true);
        $('.submitSpin_btnPrintSelect').show();

        tuNgay = $('#txtTuNgay').val();
        denNgay = $('#txtDenNgay').val();

        $('#hidTuNgay').val(tuNgay);
        $('#hidDenNgay').val(denNgay);

        $('#btnHidIn').click();
    })
    //// btnHidInTatCa
    $('#btnPrintSelect_InTatCa').click(function () {// _TheoDoiTUNoiBo_Modal

        $(this).attr('disabled', true);
        $('.submitSpin_btnPrintSelect_InTatCa').show();

        tuNgay = $('#txtTuNgay').val();
        denNgay = $('#txtDenNgay').val();

        $('#hidTuNgay').val(tuNgay);
        $('#hidDenNgay').val(denNgay);

        $('#btnHidInTatCa').click();
    })//// btnPrintSelect_TatCa1Sheet
    $('#btnPrintSelect_TatCa1Sheet').click(function () {// _TheoDoiTUNoiBo_Modal

        $(this).attr('disabled', true);
        $('.submitSpin_btnPrintSelect_TatCa1Sheet').show();

        tuNgay = $('#txtTuNgay').val();
        denNgay = $('#txtDenNgay').val();

        $('#hidTuNgay').val(tuNgay);
        $('#hidDenNgay').val(denNgay);

        $('#btnHidTatCaTrong1Sheet').click();
    })
    $('.bophans-cursor-pointer').click(function () {

        // giu trang thai
        if ($(this).hasClass("hoverClass"))
            $(this).removeClass("hoverClass");
        else {
            $('.bophans-cursor-pointer').removeClass("hoverClass");
            $(this).addClass("hoverClass");
        }

        var id_bophan = $(this).data('id');

        $('#hidId_BoPhan').val(id_bophan);

        //var code = $(this).children().eq(0).html();
        //var name = $(this).children().eq(1).html();


    })
</script>
