@model HomeViewModel

@{
    ViewData["Title"] = "Edit";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm phiếu</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect">Danh sách phiếu</a></li>
                    <li class="breadcrumb-item active">Thêm phiếu</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-file text-info"></i> Câp nhật phiếu</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">

            <form method="post" autocomplete="off" id="frmHomeCreate" enctype="multipart/form-data">
                <div class="pr-4 pl-4 text-sm">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input type="hidden" asp-for="KVPTC.Id" />
                    <input type="hidden" asp-for="KVPTC.SoCT" />
                    <input type="hidden" asp-for="KVPTC.NgayCT" />
                    <input type="hidden" asp-for="KVPTC.Create" />
                    <input type="hidden" asp-for="KVPTC.LapPhieu" />
                    <input type="hidden" asp-for="KVPTC.MaCn" />
                    <input type="hidden" asp-for="KVPTC.MayTinh" />

                    <div class="form-group row">

                        <div class="col-md-3">
                            <label asp-for="KVPTC.SoCT" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                            <input asp-for="KVPTC.SoCT" class="form-control form-control-sm " readonly />
                        </div>

                    </div>
                    <div class="form-group row">
                        @if (Model.KVCTPTCs.Count() > 0)
                        {
                            <div class="col-md-3">
                                <label asp-for="KVPTC.NgayCT" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                                <input type="text" asp-for="KVPTC.NgayCT" class="form-control form-control-sm maskInput" asp-format="{0:dd/MM/yyyy}" id="txtNgayCT" readonly />

                            </div>

                        }
                        else
                        {
                            <div class="col-md-3">
                                <label asp-for="KVPTC.NgayCT" class="control-label"></label>@*(<strong class="text-red">*</strong>)*@
                                <input type="text" asp-for="KVPTC.NgayCT" class="form-control form-control-sm maskInput" asp-format="{0:dd/MM/yyyy}" id="txtNgayCT" />

                            </div>

                        }
                        <div class="col-md-1">
                            <label asp-for="KVPTC.MFieu" class="control-label"></label>
                            @*<select asp-for="KVPTC.MFieu" class="form-control form-control-sm "
                            asp-items="@(new SelectList(Model.LoaiPhieus, "Name", "Name"))" id="ddlMFieu">
                            </select>*@
                            <input asp-for="KVPTC.MFieu" class="form-control form-control-sm " readonly />
                            <span asp-validation-for="KVPTC.MFieu" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <!-- qltour -->
                            <label asp-for="KVPTC.NgoaiTe" class="control-label"></label>
                            @*<select asp-for="KVPTC.NgoaiTe" class="form-control form-control-sm "
                            asp-items="@(new SelectList(Model.LoaiTiens, "Name", "Name"))" id="ddlNgoaiTe">
                            </select>*@
                            <input asp-for="KVPTC.NgoaiTe" class="form-control form-control-sm " readonly />
                            <span asp-validation-for="KVPTC.NgoaiTe" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="KVPTC.HoTen" class="control-label"></label>
                            <input asp-for="KVPTC.HoTen" class="form-control form-control-sm text-uppercase" id="txtHoTen" />
                            <span asp-validation-for="KVPTC.HoTen" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <!-- qltour -->
                            <label asp-for="KVPTC.Phong" class="control-label"></label>
                            @if (Model.KVCTPTCs.Count() > 0)
                            {
                                <input asp-for="KVPTC.Phong" class="form-control form-control-sm text-uppercase" id="txtPhong" readonly />
                            }
                            else
                            {
                                <select asp-for="KVPTC.Phong" class="form-control form-control-sm input-sm select2"
                                    asp-items="@(new SelectList(Model.Phongbans, "BoPhan", "TenBoPhan"))" id="ddlPhongBan">
                                </select>
                            }

                            @*<input asp-for="KVPTC.Phong" class="form-control form-control-sm " id="txtPhong" readonly/>*@
                            <span asp-validation-for="KVPTC.Phong" class="text-danger"></span>
                        </div>

                    </div>


                    <div class="form-group row">

                        <div class="col-md-9">
                            <label asp-for="KVPTC.DonVi" class="control-label"></label>
                            <input asp-for="KVPTC.DonVi" class="form-control form-control-sm" id="txtDonVi" />
                            <span asp-validation-for="KVPTC.DonVi" class="text-danger"></span>
                        </div>

                        <div class="col-md-3">
                            <label asp-for="KVPTC.LapPhieu" class="control-label "></label>
                            <input readonly asp-for="KVPTC.LapPhieu" class="form-control form-control-sm" id="txtLapPhieu" />
                            <span asp-validation-for="KVPTC.LapPhieu" class="text-danger"></span>
                        </div>

                        @*
                        <div class="col-md-2 ">
                        <label asp-for="Tour.TyGia" class="control-label text-red"></label>(<strong class="text-red">*</strong>)
                        <input type="text" asp-for="Tour.TyGia" class="form-control numbers" id="txtTyGia" />
                        <span asp-validation-for="Tour.TyGia" class="text-danger"></span>
                        </div>
                        *@
                    </div>

                    @*<div class="form-group row">

                    <div class="col-md-6">
                    <label class="control-label">Upload DS khách</label>
                    <input type="file" class="form-control" id="fUpload" name="files">
                    <div id="dvData"></div>
                    </div>

                    <div class="col-md-6">
                    <label class="control-label">Download file mẫu</label>
                    <br />
                    <a title="File mẫu" class="btn btn-success" asp-controller="Tours" asp-action="DownloadExcel"><i class="fas fa-download fa-1x"></i></a>
                    </div>

                    </div>*@

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm" id="btnSubmit"><i class="fas fa-save"></i> Save</button>
                        <a class="btn btn-success btn-sm" asp-controller="Home" asp-route-strUrl="@Model.StrUrl" asp-action="DetailsRedirect"><i class="fas fa-backward "></i> Back</a>
                    </div>
                </div>
            </form>



        </div>
        <!-- /.card-body -->

    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section Scripts{
    @*<script>

            $(function () {
                $(".datepicker").datepicker({
                    dateFormat: 'dd/mm/yy'
                });
            });
        </script>*@

    @*<script src="~/js/Admin/Home/createController.js"></script>*@

    <!-- select2 and multi select2 (bootstrap4)-->

    <script>
        //$('#txtMaKH').select2()
        $('.select2').select2({
        })
        //Initialize Select2 Elements
        $('.select2bs4').select2({
            theme: 'bootstrap4'
        })
        //$('.tuyenTQ').select2({
        //    theme: 'bootstrap4'
        //})

    </script>

    <!-- Validation -->
    <script>

        $('#frmHomeCreate').validate({
            //rules: {
            //    email: {
            //        required: true,
            //        email: true,
            //    },
            //    NgayDen: {
            //        required: true
            //    },
            //    chuDetour1: {
            //        required: true
            //    },
            //},
            //messages: {
            //    email: {
            //        required: "Please enter a email address",
            //        email: "Please enter a vaild email address"
            //    },
            //    NgayDen: {
            //        required: "Please provide a date"
            //    },
            //    chuDetour1: "Please enter value"
            //},
            errorElement: 'span',
            errorPlacement: function(error, element) {
                // add error text

                //error.addClass('invalid-feedback').removeClass('error');
                //element.closest('.chuDeTourGroup').append(error);
            },
            highlight: function(element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function(element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        //$('#txtChuDeTour').rules('add', {
        //    required: true,
        //    messages: {
        //        //required: "Chủ đề không được để trống"
        //    }
        //});

        $('#txtNgayCT').rules('add', {
            required: true,
            dateFormat: true,
            messages: {
                // required: "Ngày đến không được để trống"
            }
        });

    </script>

}


