@model HomeViewModel

@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common

@using Microsoft.AspNetCore.Http
@using Data.Utilities
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Home Page";

}

<input type="hidden" id="hidLoaiPhieu" />

<!-- layDataCashier modal-->
<div class="modal fade" id="layDataCashier" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">

        <div class="modal-content ">
            <div class="modal-header p-0 pl-2">
                <h4 class="modal-title">Lấy data cashier</h4>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body layDataCashier_Body p-2">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- layDataCashier modal-->
<!-- ThemDongFull modal-->
<div class="modal fade" id="ThemDongModal_Full" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">

        <div class="modal-content ">
            <div class="modal-header p-0 pl-1">
                <h4 class="modal-title">Chi tiết tách phí và thuế - <span id="hidLoaiPhieu"></span></h4>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body ThemDongModal_Full_Body p-0">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- ThemDong modal-->
<!-- Main content -->
<section class="content" style="padding: 15px 0.5rem">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt text-info"></i> Danh sách phiếu</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">
            <form method="get" autocomplete="off">

                <div class="pr-2 pl-2" style="padding-bottom:10px; padding-top: 6px; ">

                    <div class="col-md-12">
                        <div class="row rounded" style="padding-bottom:5px; background-color: aliceblue;" id="search">

                            <div class="col-md-2 text-sm">
                                Nhập thông tin
                                @*@Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control", @value="@ViewData["currentFilter"]" } })*@
                                <input class="form-control form-control-sm" name="searchString" value="@ViewBag.searchString" id="testSearch" />
                            </div>

                            <div class="col-md-2 text-sm">
                                Từ ngày
                                <input class="form-control form-control-sm maskInput" name="searchFromDate" value="@ViewBag.searchFromDate" />
                            </div>

                            <div class="col-md-2 text-sm">
                                Đến ngày
                                <input class="form-control form-control-sm maskInput" name="searchToDate" value="@ViewBag.searchToDate" />
                            </div>

                            <div class="col-md-6 text-sm">
                                &nbsp; @*<label class="custom-control-label">@ViewBag.stringName</label>*@
                                <div class=" btn-block ">
                                    <button type="submit" class="btn btn-primary btn-sm" id="btnSubmit">
                                        <i class="fas fa-search"></i>
                                    </button>

                                    <a class="btn btn-outline-info btn-sm" asp-action="Create" asp-route-strUrl="@Model.StrUrl" title="Thêm mới"><i class="fas fa-plus"></i></a>
                                    <button type="button" class="btn btn-outline-primary btn-sm " disabled id="btnThemDong" title="Thêm dòng"><i class="fas fa-plus"></i>Thêm dòng</button>
                                    <button type="submit" class="btn btn-outline-dark btn-sm" formaction="/Home/KhongTC141" formmethod="post" title="141 Không TC">141 Không TC</button>

                                    <button type="button" class="btn btn-outline-warning btn-sm" disabled id="btnTT141" title="TT 141">TT 141</button>
                                    <input type="hidden" id="hidKVCTPCTId" />
                                    <button type="submit" class="btn btn-outline-success btn-sm" formaction="/Home/KhongTC141" formmethod="post" title="Excel"><i class="fas fa-file-excel"></i></button>
                                    <button type="button" class="btn btn-outline-secondary btn-sm btnCashier" disabled data-strurl="@Model.StrUrl" title="Cashier">Cashier</button>
                                    <input type="hidden" id="hidCashier" />
                                    <button type="button" class="btn btn-outline-info btn-sm" id="btnTamUng" disabled title="Tạm ứng">Tạm ứng</button>
                                    <input type="hidden" id="hidTamUng" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <form id="frmThemDong" asp-action="ThemDong" asp-controller="KVCTPCTs" method="get">
                <input type="hidden" id="hidThemDongSoCT" name="soCT" />
                <input type="hidden" value="@Model.StrUrl" name="strUrl" />
                <input type="hidden" value="@Model.Page" name="page" />
            </form>
            <form id="frmThemDong_ContextMenu" asp-action="ThemDong_ContextMenu" asp-controller="KVCTPCTs" method="get">
                <input type="hidden" id="hidThemDongSoCT_ContextMenu" name="soCT" />
                <input type="hidden" value="@Model.StrUrl" name="strUrl" />
                <input type="hidden" value="@Model.Page" name="page" />
            </form>

            @*<br />*@
            <div class="pr-2 pl-2" style="overflow-x:auto; overflow-y:auto; height: 300px">
                <table class="table mytable text-nowrap text-sm" id="phieuTbl">
                    <thead>
                        <tr class="table-info">

                            <th>#</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().SoCT)</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().NgayCT)</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().MFieu)</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().NgoaiTe)</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().HoTen)</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().Phong)</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().DonVi)</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().LapPhieu)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.KVPTCDtos != null)
                        {
                            @foreach (var item in Model.KVPTCDtos)
                            {

                                <tr class="cursor-pointer @item.SoCT" @*data-huy="@item.HuyTour"*@ onclick="KVCTPCT_Tbl()">

                                    <td>
                                        <div class="btn-group text-white" role="group">

                                            <a class="text-primary" title="Cập nhật" asp-action="Edit" asp-route-soCT="@item.SoCT" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-edit"></i></a>
                                            @*<span class="text-dark"> | </span>

                                                <a class="text-success" title="Chi tiết" asp-action="Details" asp-route-id="@item.SoCT" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>*@
                                            <!-- ko cho xóa -->
                                            @*<span class="text-dark"> | </span>*@
                                            <span SoCT="confirmDeleteSpan_@item.SoCT" style="display: none">
                                                <!--ajax check invoices-->
                                                <span class="text-dark invoiceTrue">Hủy?</span>
                                                <button type="button" class="btn btn-danger btn-xs btnHuyTour" data-SoCT="@item.SoCT" data-url="@Model.StrUrl">Yes</button>
                                                <button type="button" class="btn btn-primary btn-xs" onclick="confirmDelete('@item.SoCT', false)">No</button>
                                            </span>

                                            @*<span SoCT="deleteSpan_@item.SoCT">

                                                    <button type="button" data-SoCT="@item.SoCT" data-invoices="@item.Invoices" class="text-danger border-0 bg-transparent btnHuy" title="Hủy" onclick="confirmDelete('@item.SoCT', true)"><i class="fas fa-trash-alt"></i></button>

                                                </span>*@

                                            <!-- hidden form khoiphuc-->
                                            <form asp-action="KhoiPhucTour" method="post" id="frmKhoiPhucTour">
                                                <input type="hidden" id="hidTourId" name="id" />
                                                <input type="hidden" id="hidStrUrl" name="strUrl" value="@Model.StrUrl" />
                                            </form>

                                        </div>
                                    </td>

                                    <td class="tdVal" data-id="@item.SoCT" data-loaiphieu="@item.MFieu">@Html.DisplayFor(m => item.SoCT)</td>
                                    <td class="tdVal" data-id="@item.SoCT" data-loaiphieu="@item.MFieu">@Html.Raw(item.NgayCT.HasValue ? item.NgayCT.Value.ToString("dd/MM/yyyy") : "")</td>
                                    <td class="tdVal" data-id="@item.SoCT" data-loaiphieu="@item.MFieu">@Html.DisplayFor(m => item.MFieu)</td>
                                    <td class="tdVal" data-id="@item.SoCT" data-loaiphieu="@item.MFieu">@Html.DisplayFor(m => item.NgoaiTe)</td>
                                    <td class="tdVal" data-id="@item.SoCT" data-loaiphieu="@item.MFieu">@Html.DisplayFor(m => item.HoTen)</td>
                                    <td class="tdVal" data-id="@item.SoCT" data-loaiphieu="@item.MFieu">@Html.DisplayFor(m => item.Phong)</td>
                                    <td class="tdVal" data-id="@item.SoCT" data-loaiphieu="@item.MFieu">@Html.DisplayFor(m => item.DonVi)</td>
                                    <td class="tdVal" data-id="@item.SoCT" data-loaiphieu="@item.MFieu">@Html.DisplayFor(m => item.LapPhieu)</td>

                                </tr>

                                @* } *@

                            }
                        }
                    </tbody>
                </table>
                <!--hiden field for status click-->
                @*<input type="hidden" id="hidTdValId" value="@Model.Tour.Id" />*@
                <!--hiden field for status click-->
            </div>
            <div class="p-2" style="background-color: aliceblue;">
                @if (Model.KVPTCDtos != null)
                {
                    @Html.PagedListPager((IPagedList)Model.KVPTCDtos, page => Url.Action("Index", new
               {
                   page = page,
                   option = Context.Request.Query["option"],
                   searchString = @ViewBag.searchString,
                   searchFromDate = ViewBag.searchFromDate,
                   searchToDate = ViewBag.searchToDate
               }),
                        PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            PageClasses = new string[] { "page-link" },
                            MaximumPageNumbersToDisplay = 5,
                            UlElementClasses = new[] { "pagination pagination-sm m-0" }, // ul class
                            ContainerDivClasses = new[] { "pagination-container" }
                        }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "nameListContainer" }))
                }
            </div>
            <!-- KVCTPCT-->
            <div id="KVCTPCT_Tbl">
            </div>
            @*<div id="KVCTPCT_Create_Partial">
                </div>
                <div id="KVCTPCT_Edit_Partial">
                </div>*@

            <!-- KVCTPCT-->

        </div>
        <!-- /.card-body -->
        @*<div class="card-footer">
                Footer
            </div>*@
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

@section Scripts{

    <script src="~/js/Admin/Home/indexController.js"></script>
    <script>
        var soCT_Redirect = '@Model.KVPCT.SoCT'; //soct sau khi redirect ve //////////////////////////////////////////////

        //var tr_click = $('#phieuTbl ' + soCT);
        if (soCT_Redirect !== '') {

            var soCT_Redirect_Class = $('.' + soCT_Redirect);

            if (soCT_Redirect_Class.hasClass("hoverClass")) {
                soCT_Redirect_Class.removeClass("hoverClass");
            }
            else {
                soCT_Redirect_Class.removeClass("hoverClass");
                soCT_Redirect_Class.addClass("hoverClass");
            }

            indexController.TdVal_Click(soCT_Redirect);
        }

        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }
        function confirmInvoiceDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteInvoiceSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmInvoiceDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            } else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }

        function KVCTPCT_Tbl() { // tab href
            location.href = "#KVCTPCT_Tbl";
        }

    </script>
}