@*const { Toast } = require("../../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle");*@

@model HomeViewModel

@using X.PagedList;
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common

@using Microsoft.AspNetCore.Http
@using Data.Utilities
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Home Page";
    var user = HttpContextAccessor.HttpContext.Session.GetSingle<Data.Models_QLTaiKhoan.User>("loginUser");
}

<partial name="~/Views/Home/TimPhieuPartial.cshtml" />

<!-- layDataQLXe modal-->
<div class="modal fade" id="layDataQLXe" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-sm">

        <div class="modal-content ">
            <div class="modal-header p-0 pl-2">
                <h4 class="modal-title">Lấy data QL xe</h4>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body layDataQLXe_Body p-2">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- layDataCashier modal-->
<!-- layDataCashier modal-->
<div class="modal fade" id="layDataCashier" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">

        <div class="modal-content ">
            <div class="modal-header p-0 pl-2">
                <h4 class="modal-title">Lấy data cashier</h4>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body layDataCashier_Body p-2">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- layDataCashier modal-->
<!-- attachExcelModal modal-->
<div class="modal fade" id="attachExcelModal" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">

        <div class="modal-content ">
            <div class="modal-header p-0 pl-1">
                <h4 class="modal-title">Attach Excell</h4>
                <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body attachExcelModal_Body p-0">
                <form asp-action="UploadExcelAttach" method="post" autocomplete="off" id="frmAttachExcell" enctype="multipart/form-data">

                    <div class=" row text-sm container pb-2">
                        <div class="col-md-6">
                            <label class="control-label">Chọn file excell</label>
                            <input type="file" class="form-control-file form-control-sm" id="fUpload" name="files">
                            <div id="dvData"></div><!-- error response -->
                        </div>

                        <div class="col-md-6">
                            <label class="control-label">Download file mẫu</label>
                            <br />
                            <a title="File mẫu" class="btn btn-success btn-sm" asp-controller="Home" asp-action="DownloadExcel"><i class="fas fa-download fa-1x"></i></a>
                        </div>
                    </div>

                    <div class="modal-footer p-0">
                        <button type="button" id="uploadExcelAttach_Submit" class="btn btn-outline-primary"><i class="fas fa-upload"></i></button>
                        <button type="button" class="btn btn-outline-dark" data-dismiss="modal"><i class="fas fa-power-off"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- attachExcelModal modal-->
@*
    <!-- ThemDongFull modal-->
    <div class="modal fade" id="ThemDongModal_Full" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-xl">

    <div class="modal-content ">
    <div class="modal-header p-0 pl-1">
    <h4 class="modal-title">Chi tiết tách phí và thuế - <span id="hidLoaiPhieu"></span></h4>
    <button type="button" class="close pr-4 pt-3" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">×</span>
    </button>
    </div>
    <div class="modal-body ThemDongModal_Full_Body p-0">
    </div>
    </div>
    <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
    </div>
    <!-- ThemDong modal-->*@
<!-- Main content -->

<input type="hidden" id="hidUserLogon" value="@user.Username" />
@*<input type="hidden" id="hidUserTao" />*@
<input type="hidden" id="hidHoanUngTU" />

<section class="content" style="padding: 15px 0.5rem">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-list-alt text-info"></i> Danh sách phiếu</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-0">

            <div class="pr-2 pl-2" style="padding-bottom:10px; padding-top: 6px; ">

                <div class="col-md-12 text-center">
                    <div class="rounded" style="padding: 5px; background-color: aliceblue;" id="search">

                        <form id="frmTT621" asp-action="TT621Create" asp-controller="TT621s" method="get">
                            <div class=" btn-group btn-block">

                                <button type="button" class="btn btn-primary btn-sm" id="btnTimPhieu"> <i class="fas fa-binoculars text-dark"></i> Tìm phiếu</button>

                                <input type="hidden" id="hidLoaiPhieu" />

                                <a class="btn btn-outline-success btn-sm" asp-action="Create" asp-route-strUrl="@Model.StrUrl" title="Thêm phiếu"><i class="fas fa-plus"></i> Thêm phiếu</a>
                                <button type="button" class="btn btn-outline-primary btn-sm " disabled id="btnThemDong" title="Thêm dòng"><i class="fas fa-plus"></i> Thêm dòng</button>
                                <button type="button" class="btn btn-outline-danger btn-sm" id="btnTamUng" disabled title="Tạm ứng">Tạm ứng</button>

                                <input type="hidden" id="hidTamUng" />

                                <input type="hidden" id="hidKVCTPCTId" name="kvctptcId" />
                                <input type="hidden" id="hidKVPCTId" name="kvptcId" /> <!--for khongTC_141-->
                                <input type="hidden" id="hidStrUrl" name="strUrl" value="@Model.StrUrl" />
                                <input type="hidden" value="@Model.Page" name="page" />
                                <button type="submit" class="btn btn-outline-warning btn-sm" disabled id="btnTT141" title="TT 141">TT 141</button>
                                <button type="submit" class="btn btn-outline-dark btn-sm" id="btn141KhongTC" title="141 Không TC" formaction="/TT621s/KhongTC_141" formmethod="get">141 Không TC</button>
                                @*<input type="hidden" id="hidCashier" />*@
                                <button type="button" class="btn btn-outline-info btn-sm btnCashier" disabled data-strurl="@Model.StrUrl" title="Cashier">Cashier</button>
                                <button type="button" class="btn btn-outline-success btn-sm btnQlXe" disabled data-strurl="@Model.StrUrl" title="QlXe">Xe</button>

                                <button type="button" class="btn btn-outline-dark btn-sm" disabled id="btnInPhieu" title="In Phiếu"><i class="fas fa-print"></i> In phiếu</button>
                                <button type="button" class="btn btn-outline-dark btn-sm" disabled id="btnInCTPhieu" title="In CT Phiếu"><i class="fas fa-print"></i> In CT phiếu</button>
                                <button type="button" class="btn btn-outline-secondary btn-sm" disabled id="btnInTkNo1311" title="In TK Nợ 1311"><i class="fas fa-file-export text-success"></i> Tk Nợ 1311</button>

                                <button type="button" disabled id="attachExcel" class="btn btn-outline-success btn-sm" title="Excel" data-toggle="modal" data-target="#attachExcelModal"><i class="fas fa-file-excel"></i> Excel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <form id="frmExportTkNo1311" asp-action="ExportTkNo1311" asp-controller="BaoCaos" method="post">
                <input type="hidden" id="hidId_TuNgay" name="tuNgay" />
                <input type="hidden" id="hidId_DenNgay" name="denNgay" />
                <input type="hidden" value="@Model.Page" name="page" />
            </form>

            <form id="frmInPhieu" asp-action="InPhieuView" asp-controller="Home" method="get">
                <input type="hidden" id="hidId_InPhieu" name="id" />
                <input type="hidden" value="@Model.Page" name="page" />
            </form>

            <form id="frmInCTPhieu" asp-action="InCTPhieu" asp-controller="BaoCaos" method="post">
                <input type="hidden" id="hidId_InCTPhieu" name="kVPTCId" />
                <input type="hidden" value="@Model.Page" name="page" />
            </form>

            <form id="frmThemDong" asp-action="ThemDong" asp-controller="KVCTPTCs" method="get">
                <input type="hidden" id="hidThemDongId" name="KVPTCId" />
                <input type="hidden" value="@Model.StrUrl" name="strUrl" />
                <input type="hidden" value="@Model.Page" name="page" />
                <input type="hidden" id="hidIdCu" name="id_Dong_Da_Click" value="0" />
            </form>
            <form id="frmThemDong_ContextMenu" asp-action="ThemDong_ContextMenu" asp-controller="KVCTPTCs" method="get">
                <input type="hidden" id="hidThemDongId_ContextMenu" name="KVPTCId" />
                <input type="hidden" value="@Model.StrUrl" name="strUrl" />
                <input type="hidden" value="@Model.Page" name="page" />
            </form>

            @*<br />*@
            <div class="pr-2 pl-2" style="overflow-x:auto; overflow-y:auto; height: 300px">
                <table class="table mytable text-nowrap text-sm" id="phieuTbl">
                    <thead>
                        <tr class="table-info">

                            <th>#</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().SoCT)</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().NgayCT)</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().MFieu)</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().NgoaiTe)</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().HoTen)</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().Phong)</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().DonVi)</th>
                            <th>@Html.DisplayNameFor(m => m.KVPTCDtos.FirstOrDefault().LapPhieu)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.KVPTCDtos != null)
                        {
                            @foreach (var item in Model.KVPTCDtos)
                            {

                                <tr class="cursor-pointer @item.Id" @*data-huy="@item.HuyTour"*@ onclick="KVCTPCT_Tbl()">

                                    <td>
                                        <div class="btn-group text-white" role="group">
                                            @if (user.Username == item.LapPhieu)
                                            {
                                                <a class="text-primary" title="Cập nhật" asp-action="Edit" asp-route-id="@item.Id" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-edit"></i></a>
                                            }
                                            else
                                            {
                                                <button type="button" disabled="" class="border-0 bg-transparent"><i class="fas fa-edit"></i></button>
                                            }
                                            @*<span class="text-dark"> | </span>

                                                <a class="text-success" title="Chi tiết" asp-action="Details" asp-route-id="@item.SoCT" asp-route-strUrl="@Model.StrUrl"><i class="fas fa-list"></i></a>*@
                                            <!-- ko cho xóa -->
                                    
                                            <span SoCT="confirmDeleteSpan_@item.Id" style="display: none">
                                                <!--ajax check invoices-->
                                        <span class="text-dark ">Xoá?</span>
                                                <button type="button" class="btn btn-danger btn-xs btnXoaKVPTC" data-id="@item.Id" data-url="@Model.StrUrl">Yes</button>
                                                <button type="button" class="btn btn-primary btn-xs" onclick="confirmDelete('@item.Id', false)">No</button>
                                            </span>

                                            @if (user.Username == "hongvt")
                                            {
                                                <span class="text-dark"> | </span>
                                                <span id="deleteSpan_@item.Id">

                                                    <button type="button" data-id="@item.Id" class="text-danger border-0 bg-transparent btnHuy" title="Xoá" onclick="confirmDelete('@item.Id', true)"><i class="fas fa-trash-alt"></i></button>
                                                </span>

                                            }

                                        </div>
                                    </td>

                                    <td class="tdVal" data-id="@item.Id" data-loaiphieu="@item.MFieu" data-usertao="@item.LapPhieu">@Html.DisplayFor(m => item.SoCT)</td>
                                    <td class="tdVal" data-id="@item.Id" data-loaiphieu="@item.MFieu" data-usertao="@item.LapPhieu">@Html.Raw(item.NgayCT.HasValue ? item.NgayCT.Value.ToString("dd/MM/yyyy") : "")</td>
                                    <td class="tdVal" data-id="@item.Id" data-loaiphieu="@item.MFieu" data-usertao="@item.LapPhieu">@Html.DisplayFor(m => item.MFieu)</td>
                                    <td class="tdVal" data-id="@item.Id" data-loaiphieu="@item.MFieu" data-usertao="@item.LapPhieu">@Html.DisplayFor(m => item.NgoaiTe)</td>
                                    <td class="tdVal" data-id="@item.Id" data-loaiphieu="@item.MFieu" data-usertao="@item.LapPhieu">@Html.DisplayFor(m => item.HoTen)</td>
                                    <td class="tdVal" data-id="@item.Id" data-loaiphieu="@item.MFieu" data-usertao="@item.LapPhieu">@Html.DisplayFor(m => item.Phong)</td>
                                    <td class="tdVal" data-id="@item.Id" data-loaiphieu="@item.MFieu" data-usertao="@item.LapPhieu">@Html.DisplayFor(m => item.DonVi)</td>
                                    <td class="tdVal" data-id="@item.Id" data-loaiphieu="@item.MFieu" data-usertao="@item.LapPhieu">@Html.DisplayFor(m => item.LapPhieu)</td>

                                </tr>

                            }
                        }
                    </tbody>
                </table>
                <!--hiden field for status click-->
                @*<input type="hidden" id="hidTdValId" value="@Model.Tour.Id" />*@
                <!--hiden field for status click-->
            </div>
            <div class="p-2" style="background-color: aliceblue;">
                @if (Model.KVPTCDtos != null)
                {
                    @Html.PagedListPager((IPagedList)Model.KVPTCDtos, page => Url.Action("Index", new
                {
                page = page,
                option = Context.Request.Query["option"],
                searchString = ViewBag.searchString,
                searchFromDate = ViewBag.searchFromDate,
                searchToDate = ViewBag.searchToDate,
                boolSgtcode = ViewBag.boolSgtcode,
                boolTkNo1311 = ViewBag.boolTkNo1311
                }),
                PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },
                MaximumPageNumbersToDisplay = 5,
                UlElementClasses = new[] { "pagination pagination-sm m-0" }, // ul class
                ContainerDivClasses = new[] { "pagination-container" }
                }, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "nameListContainer" }))
                }
            </div>
            <!-- KVCTPCT-->
            <div id="KVCTPCT_Tbl">
            </div>
        </div>
        <!-- /.card-body -->
        @*<div class="card-footer">
            Footer
            </div>*@
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
@section Scripts{

<script src="~/js/Admin/Home/indexController.js"></script>
<script>

    //var id_Redirect = '@Model.KVPTC.Id'; //Id sau khi redirect ve //////////////////////////////////////////////
    var id_Redirect = '@ViewBag.id'; //Id sau khi redirect ve //////////////////////////////////////////////

    //var tr_click = $('#phieuTbl ' + soCT);
    if (id_Redirect !== '') {

        var id_Redirect_Class = $('.' + id_Redirect);

        if (id_Redirect_Class.hasClass("hoverClass")) {
            id_Redirect_Class.removeClass("hoverClass");
        }
        else {
            id_Redirect_Class.removeClass("hoverClass");
            id_Redirect_Class.addClass("hoverClass");
        }

        indexController.TdVal_Click(id_Redirect);
    }

    function confirmDelete(uniqueId, isDeleteClicked) {
        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }

    function KVCTPCT_Tbl() { // tab href
        location.href = "#KVCTPCT_Tbl";
    }

    // attach excel

        $('#uploadExcelAttach_Submit').click(function () {
            var kvptcId = $('#hidId_InPhieu').val();

            var fileExtension = ['xls', 'xlsx'];
            var filename = $('#fUpload').val();
            if (filename.length !== 0) {
                var extension = filename.replace(/^.*\./, '');
                // kiem tra dinh dang
                if ($.inArray(extension, fileExtension) === -1) {
                    bootbox.alert({
                        size: "small",
                        title: "Infomation",
                        message: "Chọn chưa đúng định dạng <b> Excel! </b>"
                    });

                    return false;
                }
            }

            if ($('#frmAttachExcell').valid()) {
            debugger
            var input = $('#fUpload');
            var files = input[0].files;
            if (files.length == 0) {
                toastr.warning("Vui lòng chọn file excel.");
                return;
            }

            var formData = new FormData();

            formData.append("kvptcId", kvptcId);
            for (var i = 0; i <= files.length; i++) {
                formData.append("files", files[i]);
            }
            $.ajax({
                type: "POST",
                url: "/Home/UploadExcelAttach",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {

                    if (response.status) {
                        toastr.success('Import data thành công!');
                        $('#attachExcelModal').modal('hide');
                        //window.location.reload();
                        indexController.Load_KVCTPCTPartial(kvptcId);

                    } else {
                        $('#attachExcelModal').modal('hide');
                        toastr.error(response.message);

                    }
                }
                , error: function (xhr, status, error) {
                    $('.modal').modal('hide');
                    alert("Có lỗi: " + error + " ,xin thông báo cho người quản lý biết!");
                }
            });
            }
            else{
                alert('Not valid')
            }
        })
        // attach excel

        // boolTkNo1311
        var boolTkNo1311 = '@ViewBag.boolTkNo1311';
        if (boolTkNo1311 === 'on') {
            $('#btnInTkNo1311').attr('disabled', false);
        }

        $('#btnInTkNo1311').off('click').on('click', function () {
            //var formData = new FormData();

            var searchFromDate = $('#searchFromDate').val();
            var searchToDate = $('#searchToDate').val();

            $('#hidId_TuNgay').val(searchFromDate);
            $('#hidId_DenNgay').val(searchToDate);

            $('#frmExportTkNo1311').submit();

            //formData.append("tuNgay", searchFromDate);
            //formData.append("denNgay", searchToDate);

            //$.ajax({
            //    type: "POST",
            //    url: "/Baocaos/ExportTkNo1311",
            //    data: formData,
            //    processData: false,
            //    contentType: false,
            //    success: function (response) {

            //        if (response) {
            //            toastr.success('Export data successfully!');
            //           // $('#attachExcelModal').modal('hide');
            //            //window.location.reload();
            //            //indexController.Load_KVCTPCTPartial(kvptcId);

            //        } else {
            //            //$('#attachExcelModal').modal('hide');
            //            toastr.error('Export data failure!');

            //        }
            //    }
            //    , error: function (xhr, status, error) {
            //        $('.modal').modal('hide');
            //        alert("Có lỗi: " + error + " ,xin thông báo cho người quản lý biết!");
            //    }
            //});


        })

</script>

}